& when not (@critical) {
    body._has-modal {
        overflow: hidden;
    }

    .modal-popup {
        &:extend(.inset-0);
        position: fixed;
        z-index: 900;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: @7;
        visibility: hidden;
        pointer-events: none;

        &._show {
            visibility: visible;
        }

        @media @media-sm {
            justify-content: flex-start;
        }
    }

    .modal-inner-wrap {
        display: flex;
        flex-direction: column;
        padding: @4;
        width: 90%;
        max-width: 500px;
        max-height: 85vh;
        background: var(--bg-main);
        pointer-events: auto;

        &:extend(.transition);
        opacity: 0;
        @media @media-md-down {
            transform: translateY(10px);
        }
        @media @media-md {
            transform: scale(0.97);
        }

        ._show & {
            @media @media-md-down {
               transform: translateY(0);
            }
            @media @media-md {
                transform: scale(1);
            }
            opacity: 1;
        }
    }

    .modal-header,
    .modal-footer {
        flex-shrink: 0;
    }

    .modal-header {
        .action-close {
            &:extend(.button-x all);
        }
    }

    .modal-content {
        overflow: auto;
        overscroll-behavior: contain;
        padding: @4 0;
    }

    .modal-footer {
        display: flex;
        justify-content: flex-end;
        gap: @2;
    }

    .modals-overlay {
        &:extend(.transition);
        &:extend(.inset-0);
        position: fixed;
        background: var(--black);
        opacity: 0;

        ._show ~ & {
            opacity: .6;
        }
    }
}
