& when not (@critical) {
    .loading-mask {
        &:extend(.inset-0);
        margin: auto;
        position: fixed;
        z-index: 100;
        background: rgba(255, 255, 255, 0.5);

        .loader {
            &:extend(.spinner);
            img {
                display: none;
            }
        }
    }
}
