& when (@critical) {
    :root {
        --listing-grid-columns: var(--listing-grid-media-all-columns);

        & when not (@listing-grid__media-sm__columns = false) {
            @media @media-sm {
                --listing-grid-columns: var(--listing-grid-media-sm-columns);
            }
        }
        & when not (@listing-grid__media-md__columns = false) {
            @media @media-md {
                --listing-grid-columns: var(--listing-grid-media-md-columns);
            }
        }
        & when not (@listing-grid__media-lg__columns = false) {
            @media @media-lg {
                --listing-grid-columns: var(--listing-grid-media-lg-columns);
            }
        }
        & when not (@listing-grid__media-xl__columns = false) {
            @media @media-xl {
                --listing-grid-columns: var(--listing-grid-media-xl-columns);
            }
        }
    }

    .page-layout-1column {
        & when not (@listing-grid__media-md__1column__columns = false) {
            @media @media-md {
                --listing-grid-columns: var(--listing-grid-media-md-1column-columns);
            }
        }
        & when not (@listing-grid__media-lg__1column__columns = false) {
            @media @media-lg {
                --listing-grid-columns: var(--listing-grid-media-lg-1column-columns);
            }
        }
        & when not (@listing-grid__media-xl__1column__columns = false) {
            @media @media-xl {
                --listing-grid-columns: var(--listing-grid-media-xl-1column-columns);
            }
        }
    }
    .page-layout-3columns {
        & when not (@listing-grid__media-lg__3columns__columns = false) {
            @media @media-lg {
                --listing-grid-columns: var(--listing-grid-media-lg-3columns-columns);
            }
        }
        & when not (@listing-grid__media-xl__3columns__columns = false) {
            @media @media-xl {
                --listing-grid-columns: var(--listing-grid-media-xl-3columns-columns);
            }
        }
    }
}
