& when (@critical) {
    :root {
        --listing-grid-item-max-width: 400px;
        --listing-grid-item-gap: @2;
        --listing-grid-item-padding: 0;
        --listing-grid-item-width: 100/2%;
        @media @media-sm {
            --listing-grid-item-width: 100/3%;
        }
        @media @media-xl {
            --listing-grid-item-width: 100/4%;
        }
    }
    .page-layout-1column {
        @media @media-xl {
            --listing-grid-item-width: 100/5%;
        }
    }

    // Styles for content and sidebar (grid and list)
    .product-items {
        .product-item-photo {
            position: relative;
        }
        .product-item-info {
            position: relative;
            display: flex;
            align-items: flex-start;
            gap: @2;
        }
        .product-item-details {
            flex: 1 1;
            display: flex;
            flex-direction: column;
            gap: @1;
            width: 100%;
        }
        .product-item-actions {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: @1;
        }
        .actions-secondary {
            display: flex;
            color: var(--gray-400);
            gap: @0-5;
        }
        .towishlist,
        .tocompare {
            span {
                &:extend(.sr-only);
            }
        }

        .sidebar & {
            .product-item {
                + .product-item {
                    margin-top: @3;
                }
            }
            .product-item-info .action.delete {
                position: absolute;
                .right(@0-5);
                top: @0-5;
            }
        }

        // Compare Products and Recent Orders
        &.product-items-names {
            .product-item {
                display: flex;
                align-items: center;
                gap: @2;

                + .product-item {
                    margin-top: @0-5;
                }
            }

            strong {
                font-weight: normal;
            }

            // Recent Orders
            .choice {
                .label {
                    &:extend(.sr-only);
                }
                .control {
                    display: flex;
                }
            }
        }

        // Grid listing
        .products-grid & {
            display: flex;
            flex-wrap: wrap;
            gap: var(--listing-grid-item-gap);

            .product-item {
                padding: var(--listing-grid-item-padding);
                max-width: var(--listing-grid-item-max-width);
                width: ~"calc(var(--listing-grid-item-width) - var(--listing-grid-item-gap))";
            }
            .product-item-info {
                height: 100%;
                flex-direction: column;
            }
            .product-item-inner {
                margin-top: auto;
                padding-top: @1;
                display: flex;
                flex-direction: column;
                gap: @1;
            }
        }

        // List listing
        .products-list & {
            .product-item + .product-item {
                margin-top: @3;
                padding-top: @3;
                border-top: 1px solid var(--color-divider);
            }
            .product-item-actions {
                margin: @1 0;
            }
            .product-item-photo {
                max-width: 35%;
            }
            .product-item-description {
                margin-top: @2;
            }
        }
    }
}
