@block__indent: @6;
@block-title__padding: @2 0;
@block-title__margin: 0;
@block-title__color: inherit;
@block-title__background: none;
@block-title__border: 0;
@block-title__border-width: 0;
@block-content__padding: 0;
@block-content__background: none;
@block-content__border: 0;
@block-content__border-width: 0;

& when (@critical) {
    .sidebar + .sidebar,
    .page-main .block + .block,
    .page-main .block + script + .block {
        margin-top: var(--block-indent, @block__indent);
    }
    .block {
        > .title,
        .block-title {
            .text-lg();
            font-weight: 500;
            margin: var(--block-title-margin, @block-title__margin);
            padding: var(--block-title-padding, @block-title__padding);
            border: var(--block-title-border, @block-title__border);
            border-width: var(--block-title-border-width, @block-title__border-width);
        }
        .block-title {
            a {
                .text-base();
                &:extend(.link-common all);
                font-weight: 400;
            }
            .counter {
                .text-sm();
                white-space: nowrap;
            }
        }
        .subtitle {
            display: none;
        }
        .block-content {
            display: flow-root;
            padding: var(--block-content-padding, @block-content__padding);
            border: var(--block-content-border, @block-content__border);
            border-width: var(--block-content-border-width, @block-content__border-width);
        }
        .box {
            margin-bottom: @3;
            @media @media-md {
                width: 48%;
                float: left;
                max-width: 400px;
                .margin(0 2% @2 0);
                &:last-child {
                    margin: 0;
                }
                &:nth-child(2n+1) {
                    clear: left;
                }
            }
            &-title {
                display: block;
                margin-bottom: @2;
            }
        }
    }

    .actions-toolbar,
    .box-actions {
        clear: both;
        display: flex;
        align-items: center;
        gap: @2;
        margin-top: @2;

        a {
            &:extend(.link-common all);
        }
    }

    .actions-toolbar {
        > .actions,
        > div.primary,
        > div.secondary {
            display: contents;
         }
        .page-title-wrapper & {
            margin: @3 0;
        }
        .action.back {
            display: none;
        }
    }

    .sidebar .block .action.delete,
    .sidebar .block .action.remove {
        display: inline-flex;
        align-items: center;
        .margin-left(auto);
        span {
            &:extend(.sr-only);
        }
        &::before {
            content: '';
            width: @5;
            height: @5;
        }
    }
}

& when not (@critical) {
    .block {
        > .title,
        .block-title {
            color: var(--block-title-color, @block-title__color);
            background: var(--block-title-background, @block-title__background);
        }
        .block-title {
            .counter {
                color: var(--color-muted);
            }
        }
        .block-content {
            background: var(--block-content-color, @block-content__background);
        }
    }
    .sidebar .block .action.delete,
    .sidebar .block .action.remove {
        color: var(--color-muted);
        &::before {
            .breeze-icon(@icon-x, @4);
        }
    }
}
