@block__indent: var(--block-indent, @6);
@block-title__padding: var(--block-title-padding, @2 0);
@block-title__margin: var(--block-title-margin, 0);
@block-title__color: var(--block-title-color, inherit);
@block-title__background: var(--block-title-background, none);
@block-title__border: var(--block-title-border, 0);
@block-title__border-width: var(--block-title-border-width, 0);
@block-content__padding: var(--block-content-padding, 0);
@block-content__background: var(--block-content-background, none);
@block-content__border: var(--block-content-border, 0);
@block-content__border-width: var(--block-content-border-width, 0);

& when (@critical) {
    .sidebar + .sidebar,
    .page-main .block + .block,
    .page-main .block + script + .block {
        margin-top: @block__indent;
    }
    .block {
        > .title,
        .block-title {
            .text-lg();
            font-weight: 500;
            margin: @block-title__margin;
            padding: @block-title__padding;
            border: @block-title__border;
            border-width: @block-title__border-width;
        }
        .block-title {
            a {
                .text-base();
                &:extend(.link-common all);
                font-weight: 400;
            }
            .counter {
                .text-sm();
                white-space: nowrap;
            }
        }
        .subtitle {
            display: none;
        }
        .block-content {
            display: flow-root;
            padding: @block-content__padding;
            border: @block-content__border;
            border-width: @block-content__border-width;
        }
        .box {
            margin-bottom: @2;
            @media @media-md {
                width: 48%;
                float: left;
                max-width: 400px;
                .margin(0 2% 0 0);
                &:last-child {
                    margin: 0;
                }
            }
            &-title {
                display: block;
                margin-bottom: @2;
            }
        }
    }

    .actions-toolbar,
    .box-actions {
        display: flex;
        align-items: center;
        gap: @2;
        margin-top: @2;

        a {
            &:extend(.link-common all);
        }
    }

    .actions-toolbar {
        .action.back {
            display: none;
        }
    }

    .sidebar .block .action.delete,
    .sidebar .block .action.remove {
        display: inline-flex;
        align-items: center;
        .margin-left(auto);
        span {
            &:extend(.sr-only);
        }
        &::before {
            content: '';
            width: @5;
            height: @5;
        }
    }
}

& when not (@critical) {
    .block {
        > .title,
        .block-title {
            color: @block-title__color;
            background: @block-title__background;
        }
        .block-title {
            .counter {
                opacity: .6;
            }
        }
        .block-content {
            background: @block-content__background;
        }
    }
    .sidebar .block .action.delete,
    .sidebar .block .action.remove {
        color: var(--gray-500);
        &::before {
            .breeze-icon(@icon-x, @4);
        }
    }
}
