& when (@critical) {
    .sidebar + .sidebar,
    .page-main .block + .block {
        margin-top: @6;
    }
    .block {
        > .title,
        .block-title {
            .text-lg();
            line-height: @6;
            padding: @2 0;
            margin-bottom: @1;
            font-weight: 500;
        }
        .block-title {
            a {
                .text-base();
                &:extend(.link-common all);
                font-weight: 400;
            }
            .counter {
                .text-sm();
                opacity: .6;
                white-space: nowrap;
            }
        }
        .subtitle {
            display: none;
        }
    }

    .actions-toolbar,
    .box-actions {
        display: flex;
        align-items: center;
        gap: @2;
        margin-top: @2;

        a {
            &:extend(.link-common all);
        }
    }

    .actions-toolbar {
        .action.back {
            display: none;
        }
    }

    .sidebar .block .action.delete,
    .sidebar .block .action.remove {
        display: inline-flex;
        align-items: center;
        .margin-left(auto);
        color: var(--gray-500);
        span {
            &:extend(.sr-only);
        }
        &::before {
            content: '';
            width: @5;
            height: @5;
        }
    }

    .block-content {
        display: flow-root;
        .box {
            margin-bottom: @2;
            @media @media-md {
                width: 48%;
                float: left;
                max-width: 400px;
                .margin(0 2% 0 0);
                &:last-child {
                    margin: 0;
                }
            }
            &-title {
                display: block;
                margin-bottom: @2;
            }
        }
    }
}

& when not (@critical) {
    .sidebar .block .action.delete::before,
    .sidebar .block .action.remove::before {
        .breeze-icon(@icon-x, @4);
    }
}
