& when (@critical) {
    :root {
        --sidebar-width: 180px;
        @media @media-lg {
            --sidebar-width: 220px;
        }
    }

    .page-main {
        &:extend(.container);
    }

    .column.main {
        min-height: 300px;
    }

    // Layout
    .page-main > .columns {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "main"
                             "sidebar"
                             "additional";
        gap: @4;
        row-gap: 0;

        @media @media-md {
            .page-layout-3columns &,
            .page-layout-2columns-left & {
                grid-template-columns: var(--sidebar-width) 1fr;
                grid-template-areas: "sidebar main"
                                     "additional main";
            }

            .page-layout-2columns-right & {
                grid-template-columns: 1fr var(--sidebar-width);
                grid-template-areas: "main sidebar"
                                     "main additional";
            }
        }

        @media @media-lg {
            .page-layout-3columns & {
                grid-template-columns: var(--sidebar-width) 1fr var(--sidebar-width);
                grid-template-areas: "sidebar main additional"
            }
        }

        > .main {
            grid-area: main;
        }
        > .sidebar-main {
            grid-area: sidebar;
        }
        > .sidebar-additional {
            grid-area: additional;
        }
    }

    // Blocks
    .sidebar + .sidebar,
    .sidebar .block + .block {
        margin-top: @6;

    }
    .block {
        .block-title {
            .text-lg();
            margin-bottom: @2;

            .counter {
                .text-sm();
                opacity: .6;
            }
        }
        .subtitle {
            display: none;
        }
        .actions-toolbar {
            display: flex;
            align-items: center;
            gap: @2;
            margin-top: @2;
        }
    }

    .sidebar .action.delete,
    .sidebar .action.remove {
        display: inline-flex;
        align-items: center;
        .margin-left(auto);
        color: var(--gray-500);
        span {
            &:extend(.sr-only);
        }
        &::before {
            content: '';
            width: @5;
            height: @5;
        }
    }
}

& when not (@critical) {
    .sidebar .action.delete::before,
    .sidebar .action.remove::before {
        .breeze-icon(@icon-x, @4);
    }
}
