& when (@critical) {
    .footer.content {
        text-align: center;
        padding-top: @16;
        &:extend(.container);
    }
    .footer.links {
        display: flex;
        flex-wrap: wrap;
        column-gap: @2;
        justify-content: center;
        a:hover {
            text-decoration: underline;
        }
    }
    .copyright {
        color: @muted__color;
    }
}
