& when (@critical) {
    .message.global {
        color: #222;
        background: ~"rgb(var(--yellow))";
        margin: 0;
        border-radius: 0;

        .content {
            &:extend(.container);
            padding: @2;
        }

        .actions {
            margin-top: @3;
        }

        &.noscript {
            text-align: center;
        }
    }
}
