& when (@critical) {
    .header.panel,
    .header.links,
    .header.content {
        display: flex;
        gap: @4;
    }

    .header.panel {
        &:extend(.container);
        justify-content: flex-end;
    }

    .header.content {
        &:extend(.container);
        align-items: center;

        .wishlist {
            a {
                &::after {
                    content: '';
                    display: block;
                    width: @6;
                    height: @6;
                }
                .text {
                    &:extend(.sr-only);
                }
            }
        }
    }

    .page-header {
        .switcher .label {
            &:extend(.sr-only);
        }

        .logo {
            flex-shrink: 0;
            img {
                &:not([width]) {
                    min-width: 140px;
                }
            }
            + * {
                margin-left: auto;
            }
            + .navigation {
                margin: 0 auto;
            }
        }
    }
}

& when not (@critical) {
    .header.content {
        .wishlist {
            a::after {
                .breeze-icon(@icon-heart);
            }
        }
    }
}
