& when (@critical) {
    :root {
        & when (@header-panel__slideout) {
            --header-panel-slideout: true;
        }
    }

    .header.panel,
    .header.links,
    .header.content {
        display: flex;
        gap: @4;
    }

    .header.links {
        a .counter {
            .breeze-text-sm();
            opacity: .6;
            white-space: nowrap;
            &::before {
                content: '(';
            }
            &::after {
                content: ')';
            }
        }
    }

    .header.panel {
        &:extend(.container);
        justify-content: flex-end;
        align-items: flex-start;

        .switcher {
            flex-shrink: 0;
        }

        @media @media-xs-down {
            flex-wrap: wrap;
            justify-content: center;
            .header-panel-info {
                width: 100%;
                margin: 0;
                justify-content: center;
            }
            > .switcher {
                max-width: 50%;
            }
        }
    }

    .header.content {
        &:extend(.container);
        .lib-css(padding-top, @header-content__padding-top);
        .lib-css(padding-bottom, @header-content__padding-bottom);
        .lib-css(background, @header-content__background);
        .lib-css(position, @header-content__position);
        align-items: center;
    }

    .page-header {
        & when (@header__dark) {
            &:extend(.breeze-invert-colors all);
            & when (@header__background = false) {
                .lib-css(background, @theme__dark-color);
            }
        }

        position: relative;
        .lib-css(background, @header__background);
        .lib-css(box-shadow, @header__box-shadow);
        .lib-css(border, @header__border);
        .lib-css(border-width, @header__border-width);

        .panel.wrapper {
            & when (@header-panel__dark) {
                &:extend(.breeze-invert-colors all);
                & when (@header-panel__background = false) {
                    .lib-css(background, @theme__dark-color);
                }
            }

            .lib-css(color, @header-panel__color);
            .lib-css(background, @header-panel__background);
            .lib-css(border, @header-panel__border);
            .lib-css(border-width, @header-panel__border-width);
        }

        .switcher .label {
            &:extend(.breeze-sr-only);
        }

        .logo {
            img {
                &:not([width]) {
                    width: 100%;
                    min-width: 80px;
                    max-width: 170px;
                }

                & when (@header__dark = false) {
                    & when (@respect-color-scheme = true) {
                        @media @media-dark {
                            .lib-css(filter, @logo__dark__filter);
                        }
                    }
                }
            }
            + *,
            + .navigation-wrapper + *,
            + .navigation-wrapper + script + * {
                .margin-left(auto);
            }
        }

        .block .block-title {
            font-size: @4;
            margin: 0;
        }
    }

    .header-panel-info {
        .lib-css(font-weight, @header-panel-info__font-weight);
        .lib-css(font-size, @header-panel-info__font-size);
        .lib-css(letter-spacing, @header-panel-info__letter-spacing);
        .margin(@header-panel-info__margin);
        .padding(@header-panel-info__padding);
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        align-items: center;
        column-gap: @3;

        .heading,
        .switcher-label {
            display: none;
        }
        .icon {
            width: @5;
            height: @5;
        }
        a {
            color: currentColor;
        }
    }
    :where(.header-panel-info a) {
        display: flex;
        align-items: center;
        gap: @1;
        &:hover {
            text-decoration: underline;
        }
    }
    @media @navigation__media-mobile {
        & when (@header-panel__slideout) {
            .page-header .panel.wrapper {
                .lib-css(display, @header-panel__slideout__display);
            }
        }
    }
    @media @navigation__media-desktop {
        .navigation-wrapper .mobile-header-panel {
            display: none;
        }
    }

    .header.content > .switcher > .actions > .action {
        .lib-css(color, @header-actions__color);
        .lib-css(gap, @header-actions__gap);
        strong {
            .lib-css(font-weight, @header-actions__font-weight);
        }

        @media @media-md-down {
            span,
            strong:has(span) {
                display: none;
            }
        }
    }

    .switcher {
        .account-dropdown,
        .wishlist-dropdown {
            > .action::before {
                flex-shrink: 0;
            }
        }
        .account-dropdown > .action::before {
            .breeze-icon-critical(@header-actions-icon__account, @header-actions-icon__width, @header-actions-icon__height);
        }
        .wishlist-dropdown > .action::before {
            .breeze-icon-critical(@header-actions-icon__wishlist, @header-actions-icon__width, @header-actions-icon__height);
        }
    }
}

& when not (@critical) {
    .header.links {
        .dropdown & {
            flex-direction: column;
            gap: 0;
        }
    }

    .mobile-header-panel {
        .margin(@header-mobile-panel__margin);
        .padding(@header-mobile-panel__padding);
        .lib-css(background, @header-mobile-panel__background);
        .lib-css(border, @header-mobile-panel__border);
        .border-width(@header-mobile-panel__border-width);

        .slideout\:hide { display: none !important; }
        .slideout\:block { display: block !important; }
        .slideout\:inline { display: inline !important; }
        .slideout\:flex { display: flex !important; }
        .slideout\:inline-flex { display: inline-flex !important; }

        hr {
            width: 100%;
        }

        .heading,
        .switcher-label {
            display: block;
            text-transform: uppercase;
            font-size: @font-size__sm;
            font-weight: 600;
            color: @muted__color;
        }
        & when (@header-mobile-panel-switcher-label__display = none) {
            .switcher .label {
                &:extend(.breeze-sr-only-reset);
            }
        }
        .switcher,
        .header-panel-info {
            margin-top: @4;
            display: flex;
            gap: @3;
            a:not(.toggle) {
                opacity: @header-mobile-panel-link__opacity;
            }
        }
        .switcher {
            + .switcher {
                margin-top: @2;
            }
            .switcher-dropdown {
                width: 100%;
                max-height: 70dvh;
                min-width: 200px;
                overflow: auto;
                transform-origin: bottom;
                margin: 0 0 @2;
            }
        }
        .header-panel-info {
            flex-direction: column;
            align-items: flex-start;
            gap: @2;
            margin: 0;
        }
        :where(.header-panel-info > div) {
            width: 100%;
        }
    }
}
