& when (@critical) {
    .header.panel,
    .header.links,
    .header.content {
        display: flex;
        gap: @4;
    }

    .header.links {
        a .counter {
            .text-sm();
            opacity: .6;
            white-space: nowrap;
            &::before {
                content: '(';
            }
            &::after {
                content: ')';
            }
        }
    }

    .header.panel {
        &:extend(.container);
        justify-content: flex-end;
    }

    .header.content {
        &:extend(.container);
        align-items: center;
        position: relative;
    }

    .page-header {
        .switcher .label {
            &:extend(.sr-only);
        }

        .logo {
            img {
                &:not([width]) {
                    width: 100%;
                    min-width: 80px;
                    max-width: 170px;
                }

                & when (@respect-color-scheme = true) {
                    @media @media-dark {
                        .lib-css(filter, @logo__dark__filter);
                    }
                }
            }
            + * {
                margin-left: auto;
            }
            + .navigation-wrapper {
                margin: 0 auto;
            }
        }
    }
}

& when not (@critical) {
    .header.links {
        .dropdown & {
            flex-direction: column;
            gap: 0;
        }
    }
}
