& when (@critical) {
    .block.filter {
        li {
            display: flex;
            align-items: center;
            gap: @1;
        }
        .filter-value {
            opacity: .6;
        }
        .filter-actions {
            margin: @1 0;
            opacity: .6;
            .text-align(right);
            .text-sm();
        }
        .filter-content {
            > .filter-subtitle {
                &:extend(.sr-only);
            }
        }
        .filter-options {
            &-title {
                margin: @4 0 @3;
                font-weight: 500;
            }
        }
        .count {
            .text-sm();
            white-space: nowrap;
            font-weight: 300;
            opacity: .5;
            .margin-left(@1);

            &::before {
                content: '(';
            }
            &::after {
                content: ')';
            }
        }
        .filter-count-label {
            &:extend(.sr-only);
        }
    }

    // @media @media-md-down {
    //     .block.filter {
    //         .block-content {
    //             position: fixed;
    //             top: 0;
    //             left: 0;
    //             padding: @10;
    //             bottom: 0;
    //             overflow: auto;
    //             overscroll-behavior: contain;
    //             background: #fff;
    //             z-index: 40;
    //             width: @96;
    //             max-width: 85%;
    //             transform: translateX(-100%);
    //         }
    //     }
    // }
}
