& when (@layered-maincolumn__mode = horizontal) {
@media @media-md {
    .column.main .block.filter {
        .filter-options-content {
            .breeze-popover();
            &[aria-hidden=false] {
                .breeze-popover-visible();
            }
            .item {
                .breeze-dropdown-item();
            }
        }
    }
}

& when (@critical) {
    @media @media-md {
        .column.main .block.filter {
            margin-bottom: @4;

            .filter-title {
                display: none;
            }

            .filter-current {
                display: inline-flex;
                align-items: flex-start;
                gap: @3;
                .margin-right(@2);
                &-subtitle {
                    padding: @1 0;
                    flex-shrink: 0;
                    &::after {
                        content: ':';
                    }
                }
                .items {
                    display: flex;
                    flex-wrap: wrap;
                    gap: @2;
                }
                li {
                    padding: @1 @3;
                    background: var(--muted-bg);
                    border-radius: @96;
                }
                ~ .filter-options {
                    margin-top: @1;
                }
            }
            .filter-actions {
                display: inline-flex;
            }

            .filter-options {
                display: flex;
                flex-wrap: wrap;
                column-gap: @3;
            }

            .filter-options-item {
                margin: 0;
                border: 0;
                position: relative;
            }

            .filter-options-title::after {
                opacity: 0.3;
            }
        }
    }
}

& when not (@critical) {
    @media @media-md {
        .column.main .block.filter {
            .filter-options {
                a {
                    display: block;
                }
                .item > a {
                    flex-grow: 1;
                }
            }
            .filter-options-content {
                height: auto;
                width: @52;
                .right(auto);
                .left(50%);
                .margin-left(-@24);

                > :first-child {
                    margin: 0;
                }

                .item {
                    display: flex;
                }

            }
        }

        @starting-style {
            .column.main .block.filter .filter-options-content[aria-hidden=false] {
                .breeze-popover-starting-style();
            }
        }
    }
}
}

& when (@layered-maincolumn__mode = dropdown) {
@media @media-md {
    .column.main .block.filter {
        .filter-content {
            .breeze-popover();
        }
        &.active {
            .filter-content {
                .breeze-popover-visible();
            }
        }
    }
}

@media @media-md {
    .column.main .block.filter .filter-title {
        .layered-navigation-title-as-button();
    }
}

& when (@critical) {
    @media @media-md {
        .column.main .block.filter {
            .filter-title {
                position: absolute;
                z-index: var(--filter-title-z-index, 10); // must be higher than 5 to cover addto links
                top: 0;
                margin: 0;
            }
            .filter-subtitle,
            .filter-current-subtitle {
                .breeze-block-sidebar-title();
                display: block;
                padding-top: 0;
            }
            .filter-current ~ .filter-subtitle {
                display: none;
            }
            .filter-content {
                --layered-navigation-mode: dropdown;
                margin: 0 !important;
                > .button-close {
                    display: block;
                    position: absolute;
                    top: 10px;
                    right: 5px;
                }
            }
        }
        .page-with-filter {
            .block.filter ~ .toolbar {
                .modes {
                    .margin-left(@layered-title-as-button__preserved-space);
                }
            }
        }
    }
}

& when not (@critical) {
    @media @media-md {
        .column.main .block.filter {
            .filter-title {
                cursor: pointer;
            }
            .filter-content {
                --popover-width: 20rem;
                .right(auto);
                .left(0);
            }
        }
        @starting-style {
            .column.main .block.filter.active .filter-content {
                .breeze-popover-starting-style();
            }
        }
    }
}
}
