& when (@critical) {
    .message {
        display: flex;
        align-items: flex-start;
        gap: @1;
        padding: @3 @4;
        margin-bottom: @3;

        a {
            &:extend(.link-common all);
        }

        &.success,
        &.notice,
        &.error,
        &.info, {
            &::before {
                flex-shrink: 0;
                content: '';
                width: @6;
                height: @6;
            }
        }
    }
}

& when not (@critical) {
    .message {
        border: 1px solid var(--message-border-color);
        background: var(--message-background);
        color: var(--message-color);
        padding: @3 @4;

        &.success {
            --message-border-color: var(--green-200);
            --message-background: var(--green-100);
            --message-color: var(--green-600);
            &::before {
                .breeze-icon(@icon-s-check, @5);
            }
        }
        &.info,
        &.notice {
            --message-border-color: var(--blue-200);
            --message-background: var(--blue-100);
            --message-color: var(--blue-600);
            &::before {
                .breeze-icon(@icon-s-information-circle, @5)
            }
        }
        &.error {
            --message-border-color: var(--red-200);
            --message-background: var(--red-100);
            --message-color: var(--red-600);
            &::before {
                .breeze-icon(@icon-s-exclamation-circle, @5)
            }
        }
    }
}
