.minicart-wrapper {
    .mage-dropdown-dialog {
        &:extend(.breeze-dropdown);
        &[style*="block"] {
            &:extend(.breeze-dropdown.visible);
        }
    }
    .action.showcart::before {
        .breeze-icon(@icon-shopping-bag);
    }
}

& when (@critical) {
    .minicart-wrapper {
        position: relative;
        .action.showcart {
            position: relative;
            padding-right: @7;
            display: flex;
            align-items: center;

            &::before {
                content: '';
                display: block;
                width: @6;
                height: @6;
            }

            .text {
                .sr-only();
            }

            .counter.qty {
                position: absolute;
                left: 100%;
                min-width: @6;
                height: @6;
                margin-left: -@6;
                text-align: center;
                border: 1px solid var(--gray-200);
                border-radius: @1;
                display: flex;
                justify-content: center;
                align-items: center;
                .text-sm();

                &:not(.empty) {
                    .counter-number {
                        display: none;
                    }
                }

                .counter-label span {
                    &:extend(.sr-only);
                }
            }
        }
    }
}

& when not (@critical) {
    .minicart-wrapper {
        .mage-dropdown-dialog {
            width: @72;
            margin-top: @1;
            display: block !important;
            .modrtl(transform-origin, top right, top left);
        }
    }

    .block-minicart {
        .block-title {
            display: none;
        }
        .action.close {
        }
        .minicart-items-wrapper {
            height: auto !important;
            max-height: 60vw;
            overflow: auto;
        }
    }
}
