& when (@critical) {
    .page-footer .block.newsletter {
        .form {
            display: flex;
            justify-content: center;
            .text-align(left);
        }
        label .label {
            display: none;
        }
    }
}
