& when (@critical) {
    .page-footer .block.newsletter {
        margin-bottom: @4;
        .title {
            &:extend(.sr-only);
        }
        .form {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: @2;
            max-width: 400px;
            margin: 0 auto;
            .text-align(left);

            > :not(.newsletter):not(.actions) {
                order: 10;
            }
        }
        label .label {
            display: none;
        }
    }
}
