& when (@critical) {
    .product-reviews-summary {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: @1;
        .text-align(left);
    }
    .rating-summary {
        .label {
            &:extend(.breeze-sr-only);
        }
    }
    .rating-result {
        position: relative;
        width: 5 * @rating-icon__width;
        height: @rating-icon__height;

        &::before {
            opacity: .2;
        }

        > span {
            position: relative;
            display: block;

            span {
                &:extend(.breeze-sr-only);
            }
        }

        &::before,
        > span::before {
            position: absolute;
            content: '';
            width: 100%;
            height: @rating-icon__height;
        }
    }
    .reviews-actions {
        display: flex;
        align-items: center;
        gap: @2;
        a {
            &:extend(.breeze-link all);
            .lib-css(font-size, @review-action__font-size);
            .lib-css(line-height, @review-action__line-height);
            .lib-css(color, @review-action__color);
            .lib-css(text-decoration, @review-action__text-decoration);
        }
    }

    .review-add {
        .review-legend {
            display: none;
        }
    }
    .review-field-rating {
        &s {
            margin: 0;
            legend {
                display: none !important;
            }
        }
        > .label {
            min-width: 80px;
        }
    }
    .review-control-vote {
        color: @divider__color;
        height: @6;
        width: 5 * @6;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
        }
        input {
            &:extend(.breeze-sr-only);
        }
        label {
            position: absolute;
            opacity: 0;
        }
    }

    .review-list {
        .limiter,
        .toolbar:first-child {
            display: none;
        }
        .review {
            &-items {
                display: flex;
                flex-direction: column;
                .lib-css(gap, @review-list__gap);
                @media @media-md {
                    .lib-css(gap, @review-list__md__gap);
                }
            }
            &-item {
                display: flex;
                flex-direction: column;
                .lib-css(gap, @review-item__gap);
                .lib-css(padding, @review-item__padding);
                .lib-css(background, @review-item__background);
                .lib-css(border, @review-item__border);
                .lib-css(border-radius, @review-item__border-radius);
                @media @media-md {
                    .lib-css(padding, @review-item__md__padding);
                }
            }
            &-title {
                .lib-css(font-weight, @review-title__font-weight);
                .lib-css(font-size, @review-title__font-size);
            }
            &-ratings {
                order: -1;
            }
            &-content {
                .lib-css(margin, @review-content__margin);
                .lib-css(font-family, @review-content__font-family);
                .lib-css(font-weight, @review-content__font-weight);
                .lib-css(font-size, @review-content__font-size);
                .lib-css(line-height, @review-content__line-height);
            }
            &-details {
                display: flex;
                align-items: baseline;
                gap: @1;
                opacity: .6;
            }
            &-date {
                .breeze-text-sm();
                .review-details-label {
                    &:extend(.breeze-sr-only);
                }
            }
        }
    }
}

& when not (@critical) {
    .rating-result::before,
    .rating-result > span::before {
        .breeze-icon(@rating-icon, @rating-icon__width);
        -webkit-mask-repeat: repeat-x;
        .modrtl(-webkit-mask-position, 0 50%, 100% 50%);
    }
    .rating-result > span {
        color: @rating__color;
    }
    .review-control-vote {
        &::before,
        label::before {
            .breeze-icon(@rating-icon);
            -webkit-mask-repeat: repeat-x;
            -webkit-mask-position: 0 50%;
        }
        @media @media-hover {
            label:hover {
                opacity: 1;
            }
        }
        input:checked + label,
        input:focus-visible + label {
            opacity: 1;
        }
        input:focus-visible + label, {
            .breeze-focus-ring();
        }
        label {
            cursor: pointer;
            color: @rating__color;
            height: @6;
            .left(0);
            &::before {
                content: '';
                position: absolute;
                inset: 0;
            }
            span {
                &:extend(.breeze-sr-only);
            }
        }
        .rating-1 {
            z-index: 5;
            width: @6;
        }
        .rating-2 {
            z-index: 4;
            width: 2 * @6;
        }
        .rating-3 {
            z-index: 3;
            width: 3 * @6;
        }
        .rating-4 {
            z-index: 2;
            width: 4 * @6
        }
        .rating-5 {
            z-index: 1;
            width: 5 * @6;
        }
    }
    .review-field-ratings {
        .mage-error + .mage-error {
            display: none;
        }
    }
}
