& when (@critical) {
    .header .block-search {
        .block-title,
        .label {
            display: none;
        }

        .minisearch {
            display: flex;
        }

        .control {
            position: relative;
            .nested {
                display: none;
                position: absolute;
                top: 100%;
                .text-sm();
            }
        }
    }
}
