& when (@critical) {
    .checkout-success {
        p {
            &:extend(.breeze-prose p);
        }
        a {
            &:extend(.link-common all);
        }
        .page-narrow & {
            text-align: center;
            .actions-toolbar {
                margin-top: @10;
                justify-content: center;
            }
        }
    }
}
