& when (@critical) {
    .no-display {
        display: none;
    }
    .sr-only {
        &:extend(.sr-only);
    }
}

& when not (@critical) {
    @keyframes rotate {
        from {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}
