& when (@critical) {
    .hide,
    .no-display,
    .abs-no-display {
        display: none !important;
    }
    .show {
        display: initial !important;
    }
    .abs-visually-hidden {
        &:extend(.sr-only);
    }

    @media @media-xs {
      .xs-hide { display: none !important }
      .xs-show { display: initial !important }
    }
    @media @media-sm {
      .sm-hide { display: none !important }
      .sm-show { display: initial !important }
    }
    @media @media-md {
      .md-hide { display: none !important }
      .md-show { display: initial !important }
      .md-a-right { .text-align(right); }
    }
    @media @media-lg {
      .lg-hide { display: none !important }
      .lg-show { display: initial !important }
    }
    @media @media-xl {
      .xl-hide { display: none !important }
      .xl-show { display: initial !important }
    }
    @media @media-xxl {
      .xxl-hide { display: none !important }
      .xxl-show { display: initial !important }
    }

    @media @media-md-down {
        .md-down-a-center {
            text-align: center;
            img, svg {
                margin: 0 auto;
            }
        }
    }
}

& when not (@critical) {
    .button-close {
        &:extend(.button-x all);
    }
    @keyframes rotate {
        from {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}
