.transition {
    transition: opacity var(--transition-duration), transform var(--transition-duration), visibility var(--transition-duration) 0s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media (prefers-reduced-motion) {
        transition-duration: 20ms;
    }
}
