.breeze-dropdown {
    & when (@critical) {
        opacity: 0;
        position: absolute;
        pointer-events: none;
        padding: @2;
        width: @44;

        .item {
            display: block;
            padding: @1 @2;
        }
    }

    & when not (@critical) {
        &:extend(.transition);
        .right(0);
        transform-origin: top;
        transform: scale(.95);
        z-index: 40;
        visibility: hidden;
        margin-top: @0-5;
        background: var(--bg-main);
        border: 1px solid var(--gray-200);
        border-radius: 0;
        display: block !important; // override inline style to enable amination

        &.visible {
            z-index: 41;
            opacity: 1;
            pointer-events: all;
            visibility: visible;
            transform: scale(1);
        }

        .item {
            border-radius: 0;
            &:hover {
                background: var(--gray-100);
            }
        }
    }
}
