.breeze-dropdown {
    & when (@critical) {
        opacity: 0;
        position: absolute;
        pointer-events: none;
        .right(0);

        .item {
            display: block;
            padding: @1 @2;
        }
    }

    & when not (@critical) {
        .transition();
        .shadow-lg();
        padding: var(--dropdown-padding);
        width: var(--dropdown-width);
        transform-origin: top;
        transform: scale(.95);
        z-index: 40;
        visibility: hidden;
        margin-top: @0-5;
        background: var(--bg-main);
        border: 1px solid var(--gray-200);
        border-radius: 0;

        .breeze & {
            display: block !important; // override inline style to enable amination
        }

        .item {
            cursor: pointer;
            border-radius: 0;
            &:hover {
                background: var(--gray-100);
            }
        }
    }
}

.breeze-dropdown-visible {
    & when not (@critical) {
        z-index: 41;
        opacity: 1;
        pointer-events: all;
        visibility: visible;
        transform: scale(1);
    }
}

.breeze-dropdown-toggler {
    & when (@critical) {
        display: flex;
        align-items: center;
        gap: @0-5;

        .icon {
            .breeze-dropdown-toggler-icon();
            &.active {
                .breeze-dropdown-toggler-icon-active();
            }
        }
    }
    & when not (@critical) {
        cursor: pointer;
        .icon {
            .breeze-dropdown-toggler-icon();
        }
    }
}

.breeze-dropdown-toggler-icon {
    & when (@critical) {
        content: '';
        height: @5;
        width: @5;
        transform: rotate(90deg);
    }
    & when not (@critical) {
        .transition();
        .breeze-icon(@icon-chevron, @3);
    }
}

.breeze-dropdown-toggler-icon-active {
    & when (@critical) {
        transform: rotate(-90deg);
    }
}
