.breeze-input {
    & when (@critical) {
        position: relative;
        width: 100%;

        .lib-css(font-family, @input__font-family);
        .lib-css(font-weight, @input__font-weight);
        .lib-css(font-size, @input__font-size);
        .lib-css(border, @input__border);

        color: var(--input-color);
        background: var(--input-bg);
        border-radius: var(--input-border-radius);
        padding: var(--input-padding);

        &:disabled {
            opacity: .5;
            cursor: not-allowed;
        }
    }

    & when not (@critical) {
        &:focus-visible {
            color: var(--input-focus-color);
            border-color: var(--input-focus-border-color);
            background: var(--input-focus-bg);
            outline-color: var(--input-outline-color);
            outline-width: var(--input-outline-width);
            outline-offset: var(--input-outline-offset);
        }
    }
}

.breeze-button {
    & when (@critical) {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: @1;

        .lib-css(font-family, @button__font-family);
        .lib-css(font-weight, @button__font-weight);
        .lib-css(font-size, @button__font-size);
        .lib-css(text-transform, @button__text-transform);
        .lib-css(box-shadow, @button__shadow);
        .lib-css(border, @button__border);

        padding: var(--button-padding);
        color: var(--button-color);
        background: var(--button-bg);
        border-radius: var(--button-border-radius);
        text-decoration: @button__text-decoration !important;
        white-space: nowrap;

        &:disabled,
        &.disabled {
            opacity: .5;
            cursor: not-allowed;
        }
    }

    & when not (@critical) {
        .transition();
        --spinner-size: @5;
        --spinner-border-color: currentColor;

        @media @media-hover {
            &:hover {
                text-decoration: @button__hover__text-decoration !important;
                color: var(--button-hover-color);
                border-color: var(--button-hover-border-color);
                background: var(--button-hover-bg);
            }
        }

        &:focus-visible {
            z-index: 10;
        }

        &.selected {
            --button-color: var(--button-selected-color);
            --button-bg: var(--button-selected-bg);
            --button-border-color: var(--button-selected-border-color);
            /* No need in hover effect for selected state */
            --button-hover-color: var(--button-selected-color);
            --button-hover-bg: var(--button-selected-bg);
            --button-hover-border-color: var(--button-selected-border-color);
        }
    }
}

.breeze-button-primary {
    & when (@critical) {
        --button-bg: var(--button-primary-bg);
        --button-color: var(--button-primary-color);
        --button-border-color: var(--button-primary-border-color);
    }
    & when not (@critical) {
        --button-hover-bg: var(--button-primary-hover-bg);
        --button-hover-color: var(--button-primary-hover-color);
        --button-hover-border-color: var(--button-primary-hover-border-color);
    }
}

.breeze-button-secondary {
    & when (@critical) {
        --button-bg: var(--button-secondary-bg);
        --button-color: var(--button-secondary-color);
        --button-border-color: var(--button-secondary-border-color);
    }
    & when not (@critical) {
        --button-hover-bg: var(--button-secondary-hover-bg);
        --button-hover-color: var(--button-secondary-hover-color);
        --button-hover-border-color: var(--button-secondary-hover-border-color);
    }
}

.breeze-button-link {
    & when (@critical) {
        --button-bg: transparent;
        --button-border-color: transparent;
        --button-color: var(--link-color);
        text-decoration: @link__text-decoration !important;
    }

    & when not (@critical) {
        --button-hover-bg: transparent;
        --button-hover-border-color: transparent;
        --button-hover-color: var(--link-color);
        @media @media-hover {
            &:hover {
                text-decoration: @link__hover__text-decoration !important;
            }
        }
    }
}

.breeze-button-ghost {
    & when (@critical) {
        --button-bg: var(--button-ghost-bg);
        --button-border-color: var(--button-ghost-border-color);
        --button-color: var(--button-ghost-color);
    }

    & when not (@critical) {
        --button-hover-bg: var(--button-ghost-hover-bg);
        --button-hover-border-color: var(--button-ghost-hover-border-color);
        --button-hover-color: var(--button-ghost-hover-color);
    }
}

.breeze-button-reset {
    --button-bg: transparent;
    --button-border-color: transparent;
    padding: 0 !important;
    background: transparent !important;
    color: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    font-size: inherit !important;
    text-transform: inherit !important;
    border: 0 !important;
    border-radius: 0 !important;
    .text-align(left);
}
.breeze-button-close {
    .float(right);
    .breeze-button-reset();
    .margin-left(auto);
    opacity: .7;
    cursor: pointer;
    &::before {
        display: block;
        content: '';
        width: @6;
        height: @6;
        .breeze-icon(@icon-x);
    }
    span {
        .breeze-sr-only();
    }
}
.breeze-button-xs {
    .lib-css(font-size, @button__xs__font-size);
    .lib-css(line-height, @button__xs__line-height);
    .lib-css(font-weight, @button__xs__font-weight);
    .lib-css(padding, @button__xs__padding);
    .lib-css(border-radius, @button__xs__border-radius);
}
.breeze-button-sm {
    .lib-css(font-size, @button__sm__font-size);
    .lib-css(line-height, @button__sm__line-height);
    .lib-css(font-weight, @button__sm__font-weight);
    .lib-css(padding, @button__sm__padding);
}
.breeze-button-lg {
    .lib-css(font-size, @button__lg__font-size);
    .lib-css(line-height, @button__lg__line-height);
    .lib-css(font-weight, @button__lg__font-weight);
    .lib-css(padding, @button__lg__padding);
}
.breeze-button-xl {
    .lib-css(font-size, @button__xl__font-size);
    .lib-css(line-height, @button__xl__line-height);
    .lib-css(font-weight, @button__xl__font-weight);
    .lib-css(padding, @button__xl__padding);
}

.breeze-input-xs {
    .breeze-text-xs();
    .lib-css(border-radius, @input__xs__border-radius);
    padding: @1;
    width: auto;
    flex-grow: 0;
}
.breeze-input-lg {
    .breeze-text-lg();
    .lib-css(font-weight, @input__lg__font-weight);
    .lib-css(padding, @input__lg__padding);
}
.breeze-input-xl {
    .breeze-text-xl();
    .lib-css(font-weight, @input__xl__font-weight);
    .lib-css(padding, @input__xl__padding);
}

// row builder forms
.abs-form-row-builder {
    .fields {
        + .fields {
            margin-top: @4;
        }

        .actions-toolbar {
            width: 20%;
            align-items: flex-start;
            margin-top: @6-5;
            margin-bottom: 0;
            order: 999;
        }
        .fieldset {
            width: 65%;
            display: grid;
            @media @media-sm {
                width: 80%;
                grid-template-columns: 1fr 1fr;
            }
            gap: @2;
            row-gap: @1;
            > .field {
                padding: 0;
                width: 100%;
            }
        }
    }
}

// two columns forms
.abs-form-field-column-2 {
    .fieldset {
        letter-spacing: -.25em;
        > :not(.fieldset) {
            letter-spacing: normal;
        }
        > .field {
            .padding-right(@2);
            display: inline-block;
            width: 50%;
            vertical-align: top;

            &:nth-child(2) {
                margin-top: 0;
            }
        }
        > :not(.field) ~ .field:not(.field .field):nth-child(3) {
            margin-top: 0;
        }
    }
    .fields {
        .field + .field + .field {
            margin-top: @2;
        }
    }
}
@media @media-sm {
    .abs-form-field__media-sm__column-2 {
        .abs-form-field-column-2();
    }
}
