.breeze-input {
    & when (@critical) {
        position: relative;
        padding: @input__padding;
        width: 100%;

        .lib-css(font-family, @input__font-family);
        .lib-css(font-weight, @input__font-weight);
        .lib-css(font-size, @input__font-size);

        color: var(--input-color, var(--base-color));
        background: var(--input-bg, var(--base-bg));
        border: var(--input-border-width) solid var(--input-border-color);
        border-radius: var(--input-border-radius, var(--base-border-radius));

        &:disabled {
            opacity: .5;
            cursor: not-allowed;
        }
    }

    & when not (@critical) {
        &:focus-visible {
            color: var(--input-focus-color, var(--input-color, var(--base-color)));
            border-color: var(--input-focus-border-color, var(--input-border-color, var(--neutral-400)));
            background: var(--input-focus-bg, var(--input-bg, var(--base-bg)));
            outline-color: var(--input-outline-color, var(--focus-ring-color));
            outline-width: var(--input-outline-width, var(--focus-ring-width));
            outline-offset: var(--input-outline-offset, calc(var(--input-border-width) * -1));
        }
    }
}

.breeze-button {
    & when (@critical) {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: @1;

        .lib-css(font-family, @button__font-family);
        .lib-css(font-weight, @button__font-weight);
        .lib-css(font-size, @button__font-size);
        .lib-css(text-transform, @button__text-transform);
        .lib-css(box-shadow, @button__shadow);

        padding: @button__padding;
        color: var(--button-color, var(--white));
        background: var(--button-bg, var(--brand));
        border-color: var(--button-border-color, var(--button-bg, var(--brand)));
        border-width: var(--button-border-width, var(--input-border-width));
        border-style: var(--button-border-style, solid);
        border-radius: var(--button-border-radius, var(--input-border-radius, var(--base-border-radius)));
        text-decoration: @button__text-decoration !important;
        white-space: nowrap;

        &:disabled,
        &.disabled {
            opacity: .5;
            cursor: not-allowed;
        }
    }

    & when not (@critical) {
        .transition();

        // &.selected {
        //     .breeze-rgb(--button-color, @button__selected__text-color);
        //     .breeze-rgb(--button-bg, @button__selected__background-color);
        //     .breeze-rgb(--button-border-color, @button__selected__border-color);
        // }

        @media @media-hover {
            &:hover {
                text-decoration: @button__hover__text-decoration !important;
                color: var(--button-hover-color, var(--button-color, var(--white)));
                border-color: var(--button-hover-border-color, color-mix(
                    in srgb,
                    var(--button-border-color, var(--button-bg, var(--brand))) 90%,
                    var(--black)
                ));
                background: var(--button-hover-bg, color-mix(
                    in srgb,
                    var(--button-bg, var(--brand)) 90%,
                    var(--black)
                ));
                @supports ~"(color: oklch(from #000 l c h))" {
                    border-color: var(--button-hover-border-color, oklch(
                        from var(--button-border-color, var(--button-bg, var(--brand)))
                        ~"max(calc(l - 0.05), 0)" c h
                    ));
                    background: var(--button-hover-bg, oklch(
                        from var(--button-bg, var(--brand))
                        ~"max(calc(l - 0.05), 0)" c h
                    ));
                }
            }
            // &.selected:hover {
            //     .breeze-rgb(--button-hover-bg, @button__selected__background-color);
            // }
        }
        &:focus-visible {
            // .breeze-rgb(--button-color, @button__color__focus);
            // .breeze-rgb(--button-bg, @button__bg__focus);
            // .breeze-rgb(--button-border-color, @button__border-color__focus);
            z-index: 10;
            // outline: @button__outline__focus;
            // outline-offset: @button__outline-offset__focus;
        }
    }
}

.breeze-button-primary {
    // & when (@critical) {
    //     --link-color: var(--button-color);
    //     --link-alpha: 1;
    //     --button-bg: var(--button-primary-bg);
    //     --button-color: var(--button-primary-color);
    //     --button-border-color: var(--button-primary-border-color);
    //     .lib-css(text-shadow, @button__text-shadow);
    // }
    // & when not (@critical) {
    //     .breeze-rgb(--button-hover-bg, @button-primary__hover__background-color);
    //     @media @media-hover {
    //         &:hover {
    //             .breeze-rgb(--button-color, @button-primary__hover__text-color);
    //             .breeze-rgb(--button-border-color, @button-primary__hover__border-color);
    //         }
    //     }
    // }
}

.breeze-button-secondary {
    // & when (@critical) {
    //     --link-color: var(--button-color);
    //     --link-alpha: 1;
    //     --button-bg: var(--button-secondary-bg);
    //     --button-color: var(--button-secondary-color);
    //     --button-border-color: var(--button-secondary-border-color);
    // }
    // & when not (@critical) {
    //     .breeze-rgb(--button-hover-bg, var(--button-secondary-hover-bg));
    //     @media @media-hover {
    //         &:hover {
    //             .lib-css(--button-color, @button__secondary__color__hover);
    //             .lib-css(--button-border-color, @button__secondary__border-color__hover);
    //         }
    //     }
    // }
}

.breeze-button-link {
    & when (@critical) {
        --button-bg-alpha: 0;
        --button-border-alpha: 0;
        --button-color: var(--link-color);
        text-decoration: @link__text-decoration !important;
    }

    & when not (@critical) {
        @media @media-hover {
            &:hover {
                text-decoration: @link__hover__text-decoration !important;
                --button-hover-bg-alpha: 0;
                --button-border-alpha: 0;
                --button-color: var(--link-color);
            }
        }
    }
}

.breeze-button-ghost {
    & when (@critical) {
        --button-bg: var(--base-color);
        --button-bg-alpha: 0;
        --button-color: var(--base-color);
        --button-border-color: var(--base-color);
        --button-border-alpha: var(--base-alpha);
        text-shadow: none;
    }

    & when not (@critical) {
        --button-hover-bg: var(--base-color);
        @media @media-hover {
            &:hover {
                --button-hover-bg-alpha: .1;
                --button-color: var(--base-color);
                --button-border-color: var(--base-color);
            }
        }
    }
}

.breeze-button-reset {
    --button-bg: var(--base-bg);
    --button-border-color: var(--base-bg);
    // &:focus-visible {
    //     .breeze-focus-ring();
    // }
    padding: 0 !important;
    background: transparent !important;
    color: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    font-size: inherit !important;
    text-transform: inherit !important;
    border: 0 !important;
    border-radius: 0 !important;
    .text-align(left);
}
.breeze-button-close {
    .float(right);
    .breeze-button-reset();
    .margin-left(auto);
    opacity: .7;
    cursor: pointer;
    &::before {
        display: block;
        content: '';
        width: @6;
        height: @6;
        .breeze-icon(@icon-x);
    }
    span {
        .breeze-sr-only();
    }
}
.breeze-button-xs {
    .lib-css(font-size, @button__xs__font-size);
    .lib-css(line-height, @button__xs__line-height);
    .lib-css(font-weight, @button__xs__font-weight);
    .lib-css(padding, @button__xs__padding);
}
.breeze-button-sm {
    .lib-css(font-size, @button__sm__font-size);
    .lib-css(line-height, @button__sm__line-height);
    .lib-css(font-weight, @button__sm__font-weight);
    .lib-css(padding, @button__sm__padding);
}
.breeze-button-lg {
    .lib-css(font-size, @button__lg__font-size);
    .lib-css(line-height, @button__lg__line-height);
    .lib-css(font-weight, @button__lg__font-weight);
    .lib-css(padding, @button__lg__padding);
}
.breeze-button-xl {
    .lib-css(font-size, @button__xl__font-size);
    .lib-css(line-height, @button__xl__line-height);
    .lib-css(font-weight, @button__xl__font-weight);
    .lib-css(padding, @button__xl__padding);
}

.breeze-input-xs {
    .breeze-text-xs();
    padding: @1;
    width: auto;
    flex-grow: 0;
}
.breeze-input-lg {
    .breeze-text-lg();
    .lib-css(font-weight, @input__lg__font-weight);
    .lib-css(padding, @input__lg__padding);
}
.breeze-input-xl {
    .breeze-text-xl();
    .lib-css(font-weight, @input__xl__font-weight);
    .lib-css(padding, @input__xl__padding);
}

// row builder forms
.abs-form-row-builder {
    .fields {
        + .fields {
            margin-top: @4;
        }

        .actions-toolbar {
            width: 20%;
            align-items: flex-start;
            margin-top: @6-5;
            margin-bottom: 0;
            order: 999;
        }
        .fieldset {
            width: 65%;
            display: grid;
            @media @media-sm {
                width: 80%;
                grid-template-columns: 1fr 1fr;
            }
            gap: @2;
            row-gap: @1;
            > .field {
                padding: 0;
                width: 100%;
            }
        }
    }
}

// two columns forms
.abs-form-field-column-2 {
    .fieldset {
        letter-spacing: -.25em;
        > :not(.fieldset) {
            letter-spacing: normal;
        }
        > .field {
            .padding-right(@2);
            display: inline-block;
            width: 50%;
            vertical-align: top;

            &:nth-child(2) {
                margin-top: 0;
            }
        }
        > :not(.field) ~ .field:not(.field .field):nth-child(3) {
            margin-top: 0;
        }
    }
    .fields {
        .field + .field + .field {
            margin-top: @2;
        }
    }
}
@media @media-sm {
    .abs-form-field__media-sm__column-2 {
        .abs-form-field-column-2();
    }
}
