.layered-navigation-title-as-button {
    &::before {
        .breeze-icon(@icon-s-filter, @5);
    }

    & when (@critical) {
        .padding(@layered-title-as-button__padding);
        .lib-css(max-width, @layered-title-as-button__max-width);
        border: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: @1;
        white-space: nowrap;
        overflow: hidden;

        &::before {
            width: @6;
            height: @6;
        }

        &[data-count]::after {
            .breeze-text-sm();
            .margin-left(@0-5);
            content: attr(data-count);
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: @5;
            min-height: @5;
            background: var(--color-danger);
            color: var(--color-white);
            border-radius: @5;
            padding: 0 @1;
        }

        &[data-count="0"]::after {
            display: none;
        }
    }
}
