.listing-reveal-on-hover(
    @_visible-height: @listing-grid-item__details-height,
    @_aspect-ratio: @listing-grid-item__aspect-ratio
) {
    & when (@critical) {
        box-sizing: content-box;
        overflow: hidden;
        aspect-ratio: @_aspect-ratio;

        & when (@_aspect-ratio = 1) {
            padding-bottom: @_visible-height;
        }
        & when not (@_aspect-ratio = 1) {
            padding-bottom: ~"calc(@{_visible-height} + var(--listing-grid-item-margin))";
        }

        .product-item-info {
            position: absolute;
        }
    }

    & when not (@critical) {
        &::after {
            &:extend(.gradient-overflow);
            height: @2;
        }

        &:hover,
        &:focus-within {
            &::after {
                opacity: 0;
            }
        }
    }
}

.listing-reveal-on-hover-reset {
    & when (@critical) {
        box-sizing: border-box;
        overflow: visible;
        aspect-ratio: auto;
        padding-bottom: 0;

        .product-item-info {
            position: static;
        }
    }
}
