.breeze-page-narrow {
    & when (@critical) {
        .breadcrumbs {
            display: none;
        }
        .page-title-wrapper {
            margin-top: @16;
            margin-bottom: @16;
            text-align: center;
        }
        .page-main {
            padding-bottom: @12;
            @media @media-lg {
                --container-max-width: @md;
            }
            @media @media-xl {
                --container-max-width: @md;
            }
            @media @media-xxl {
                --container-max-width: @md;
            }
        }
    }
}
