.breeze-scrollbar {
    scrollbar-gutter: stable;
    &::-webkit-scrollbar {
        width: @scrollbar__width;
        height: @scrollbar__width;
    }
    &::-webkit-scrollbar-track {
        background: var(--scrollbar-bg, transparent);
        border-radius: @scrollbar__border-radius;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--scrollbar-color, var(--muted-color));
        border-radius: @scrollbar__border-radius;
    }
}
