.spinner {
    animation: rotate var(--spinner-duration) linear infinite;
    width: var(--spinner-size);
    height: var(--spinner-size);
    border: var(--spinner-border-width) solid var(--spinner-border-color, var(--color-brand));
    border-top-color: transparent;
    border-radius: 50%;
}
