.spinner {
    animation: rotate var(--spinner-duration) linear infinite;
    width: var(--spinner-size);
    height: var(--spinner-size);
    border: var(--spinner-border-width) solid ~"rgb(var(--spinner-border-color))";
    border-top-color: transparent;
    border-radius: 50%;
}
