.breeze-tabs {
    & when (@critical) and not (@tab-horizontal__media = false) {
        @media @tab-horizontal__media {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .lib-css(justify-content, @tab__horizontal__justify-content);
            .lib-css(margin, @tab__horizontal__margin);
            .lib-css(padding, @tab__horizontal__padding);
        }
    }
    & when not (@critical) {
        background: var(--tab-bg);
    }
}

.breeze-tab-toggler {
    .breeze-tab-toggler-common();

    @media @tab-accordion__media {
        .breeze-tab-toggler-accordion();
    }

    & when not (@tab-horizontal__media = false) {
        @media @tab-horizontal__media {
            .breeze-tab-toggler-horizontal();
        }
    }
}
.breeze-tab-toggler-active {
    .breeze-tab-toggler-common-active();

    @media @tab-accordion__media {
        .breeze-tab-toggler-accordion-active();
    }

    & when not (@tab-horizontal__media = false) {
        @media @tab-horizontal__media {
            .breeze-tab-toggler-horizontal-active();
        }
    }
}

.breeze-tab-toggler-common {
    & when (@critical) {
        order: -1;
        display: flex;
        align-items: center;
        color: var(--tab-toggler-color);
        background: var(--tab-toggler-bg);
        border-radius: var(--tab-toggler-border-radius);
        .lib-css(padding, @tab-toggler__padding);
        .lib-css(scroll-margin, @tab-toggler__scroll-margin);
        .lib-css(font-family, @tab-toggler__font-family);
        .lib-css(font-size, @tab-toggler__font-size);
        .lib-css(font-weight, @tab-toggler__font-weight);
        .lib-css(text-transform, @tab-toggler__text-transform);

        .counter {
            background: var(--tab-counter-bg);
            .lib-css(opacity, @tab-counter__opacity);
            .lib-css(margin-inline, @tab-counter__margin-x);
            .lib-css(padding, @tab-counter__padding);
            .lib-css(display, @tab-counter__display);
            .lib-css(border-radius, @tab-counter__border-radius);
        }
    }
    & when not (@critical) {
        cursor: pointer;
        &:hover {
            background: var(--tab-toggler-hover-bg);
            color: var(--tab-toggler-hover-color);
            .counter {
                background: var(--tab-counter-hover-bg);
            }
        }
        &:focus-visible {
            z-index: 10;
        }
    }
}
.breeze-tab-toggler-horizontal {
    & when (@critical) {
        .margin(@tab-toggler__horizontal__margin);
        .lib-css(font-size, @tab-toggler__horizontal__font-size);
        .lib-css(font-weight, @tab-toggler__horizontal__font-weight);
        .lib-css(padding, @tab-toggler__horizontal__padding);
        .lib-css(border, @tab-toggler__horizontal__border);
        & when not (@tab-toggler__horizontal__border-width = false) {
            border-width: @tab-toggler__horizontal__border-width !important;
        }
        .lib-css(--tab-toggler-border-radius, @tab-toggler__horizontal__border-radius);
        .lib-css(position, @tab-toggler__horizontal__position);
        .lib-css(z-index, @tab-toggler__horizontal__z-index);
        white-space: nowrap;

        > a {
            .lib-css(padding, @tab-toggler-inner__horizontal__padding);
            .lib-css(border-radius, @tab-toggler-inner__horizontal__border-radius);
            .lib-css(background, @tab-toggler-inner__horizontal__background);
        }
    }
}
.breeze-tab-toggler-accordion {
    &::after {
        .breeze-dropdown-toggler-icon();
    }

    & when (@critical) {
        justify-content: space-between;
        .lib-css(font-size, @tab-toggler__accordion__font-size);
        .lib-css(font-weight, @tab-toggler__accordion__font-weight);
        .lib-css(margin, @tab-toggler__accordion__margin);
        .lib-css(padding, @tab-toggler__accordion__padding);
        .lib-css(border, @tab-toggler__accordion__border);
        .lib-css(border-width, @tab-toggler__accordion__border-width);
        .lib-css(--tab-toggler-border-radius, @tab-toggler__accordion__border-radius);
        .lib-css(--tab-toggler-bg, @tab-toggler__accordion__background);
        .lib-css(--tab-toggler-hover-bg, @tab-toggler__accordion__hover__background);
        &:has(+ .content + script:last-child),
        &:has(+ .content:last-child) {
            .lib-css(border-bottom-color, @tab-toggler__accordion__last__border-color);
        }
        &:nth-last-child(2) {
            .lib-css(border-bottom-color, @tab-toggler__accordion__last__border-color);
        }
    }
}
.breeze-tab-toggler-common-active {
    &::after {
        .breeze-dropdown-toggler-icon-active();
    }
    & when (@critical) {
        z-index: 2;
    }
    & when not (@critical) {
        background: var(--tab-toggler-active-bg);
        color: var(--tab-toggler-active-color);
        .counter {
            &,
            &:hover {
                background: var(--tab-counter-active-bg);
            }
        }
    }
}
.breeze-tab-toggler-horizontal-active {
    & when (@critical) {
        .lib-css(border-color, @tab-toggler__horizontal__active__border-color);
    }
    & when not (@critical) {
        > a {
            .lib-css(background, @tab-toggler-inner__horizontal__active__background);
        }
    }
}
.breeze-tab-toggler-accordion-active {
    & when (@critical) {
        border-bottom-color: transparent;
    }
    & when not (@critical) {
        .lib-css(color, @tab-toggler__accordion__active__color);
        .lib-css(background, @tab-toggler__accordion__active__background);
    }
}

.breeze-tab-content {
    .breeze-tab-content-common();
    & when not (@tab-horizontal__media = false) {
        @media @tab-horizontal__media {
            .breeze-tab-content-horizontal();
        }
    }
}
.breeze-tab-content-active {
    .breeze-tab-content-common-active();
}
.breeze-tab-content-common {
    & when (@critical) {
        display: none;
        background: var(--tab-content-bg);
        .lib-css(scroll-margin, @tab-content__scroll-margin);
        .lib-css(padding, @tab-content__padding);
        .lib-css(border, @tab-content__border);
        .lib-css(border-width, @tab-content__border-width);
    }
}
.breeze-tab-content-horizontal {
    & when (@critical) {
        width: 100%;
        .lib-css(scroll-margin, @tab-content__horizontal__scroll-margin);
        .lib-css(position, @tab-content__horizontal__position);
        .lib-css(z-index, @tab-content__horizontal__z-index);
        .lib-css(margin, @tab-content__horizontal__margin);
        .lib-css(padding, @tab-content__horizontal__padding);
        .lib-css(border, @tab-content__horizontal__border);
        .lib-css(border-width, @tab-content__horizontal__border-width);
    }
}
.breeze-tab-content-common-active {
    & when (@critical) {
        display: block;
    }
}
