.breeze-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
.breeze-sr-only-reset {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal;
}

.breeze-focus-ring {
    outline: var(--focus-ring-width) solid var(--focus-ring-color);
    outline-offset: var(--focus-ring-offset);
}

.breeze-text-xs {
    font-size: @font-size__xs;
    line-height: @line-height__xs;
}
.breeze-text-sm {
    font-size: @font-size__sm;
    line-height: @line-height__sm;
}
.breeze-text-base {
    font-size: @font-size__base;
    line-height: @line-height__base;
}
.breeze-text-lg {
    font-size: @font-size__lg;
    line-height: @line-height__lg;
}
.breeze-text-xl {
    font-size: @font-size__xl;
    line-height: @line-height__xl;
}
.breeze-text-2xl {
    font-size: @font-size__2xl;
    line-height: @line-height__2xl;
}
.breeze-text-3xl {
    font-size: @font-size__3xl;
    line-height: @line-height__3xl;
}
.breeze-text-4xl {
    font-size: @font-size__4xl;
    line-height: @line-height__4xl;
}
.breeze-text-5xl {
    font-size: @font-size__5xl;
    line-height: @line-height__5xl;
}

.breeze-line-clamp {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line-clamp, 1);
    max-height: ~"calc(var(--line-clamp, 1) * var(--line-height, @{base__line-height}))"; // safari fix

    &.expanded {
        display: block;
        -webkit-line-clamp: initial !important;
        overflow: auto;
        max-height: none;
    }
    > :first-child {
        margin-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }
    .clamp-toggle {
        font-weight: @clamp__font-weight;
        font-size: @clamp__font-size;
        font-family: @clamp__font-family;
        color: var(--clamp-color);
        text-decoration: @clamp__text-decoration;
        background: ~"linear-gradient(to top, var(--clamp-bg), color-mix(in oklch, var(--clamp-bg) 40%, transparent))";
        position: absolute;
        bottom: 0;
        outline-offset: -2px;
        .right(0);
        .left(0);
        .text-align(right);

        > span {
            display: inline-flex;
            .padding-left(@3);
            .modrtl(
                background,
                ~"linear-gradient(to right, transparent 0, var(--clamp-bg) @{2})",
                ~"linear-gradient(to left, transparent 0, var(--clamp-bg) @{2})"
            );
        }

        + * {
            margin-top: 0;
        }
    }
}

.breeze-link {
    color: var(--link-color);
    text-decoration: @link__text-decoration;
    &:hover {
        color: var(--link-color-hover, var(--link-color));
        text-decoration: @link__hover__text-decoration;
    }
}

.breeze-table {
    display: block;
    thead {
        display: none;
    }
    tbody,
    tfoot,
    th,
    tr,
    td {
        display: block;
    }
    tr {
        margin-bottom: @3;
        padding-bottom: @3;
    }
    td,
    th {
        padding: @1 0;
        &[data-th]::before {
            .padding-right(10px);
            content: attr(data-th) ': ';
            display: inline-block;
            color: var(--muted-color);
            font-weight: 500;
        }
    }
    tfoot {
        .text-align(right);
    }
}
.breeze-striped-table {
    > tbody {
        > tr {
            border-bottom: 0;
            &:nth-child(odd) {
                background: var(--muted-bg);
            }
        }
    }
}

.breeze-prose {
    :where(a:not(
        .action,
        .tab-title,
        .product-item-link,
        [class*="pagebuilder-button"]
    )) {
        .breeze-link();
    }
    :where(a div) {
        color: var(--base-color);
    }
    p,
    table,
    figure {
        margin-bottom: @3;
    }
    section {
        margin-bottom: @4;
    }
    strong {
        font-weight: 600;
    }
    :where(ul:not(.unstyled,.items,[role=tablist])),
    :where(ol:not(.unstyled,.product-items)) {
        margin-top: @3;
        margin-bottom: @3;
        .padding-left(@5);
    }
    :where(ul:not(.unstyled,.items,[role=tablist]) li),
    :where(ol:not(.unstyled,.product-items) li) {
        margin-top: @1;
        margin-bottom: @1;
    }
    :where(ul:not(.unstyled,.items,[role=tablist])) {
        list-style: disc;
    }
    :where(ol:not(.unstyled,.product-items)) {
        list-style: auto;
    }
    ol.nested-counter {
        counter-reset: item;
        li {
            counter-increment: item;
        }
        ol > li::marker {
            content: counters(item, '.') ' ';
        }
    }
    li::marker {
        color: var(--muted-color);
    }
    blockquote {
        margin: @6 0;
        .padding-left(@4);
        .border-left(~"4px solid var(--subtle-color)");
        font-style: italic;
        font-weight: 500;
    }
    code {
        font-weight: 600;
        &::before,
        &::after {
            content: "`";
        }
    }
    pre {
        margin: @4 0;
        padding: @4;
        overflow-x: auto;
        background: var(--muted-bg);
        code {
            font-weight: 400;
            &:before,
            &:after {
                content: '';
            }
        }
    }
    hr {
        margin: @8 0;
    }
    figcaption {
        margin-top: @2;
        color: var(--muted-color);
    }
    .lead {
        .breeze-text-xl();
        color: var(--muted-color);
    }
    [data-role="collapsible"],
    [data-mage-init*='"collapsible":'] {
        > [data-role=title] {
            margin: 0;
        }
        > [data-role=content][aria-hidden=false] {
            margin: @2 0;
        }
        + div {
            margin-top: @3;
        }
    }
}

.breeze-prose-reset {
    a {
        --link-color: var(--base-color);

        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    p,
    table,
    figure {
        margin-bottom: 0 !important;
    }
    ul,
    ol,
    li {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    ol, ul {
        .padding-left(~"0 !important");
    }
    li::marker {
        color: initial !important;
    }
    ul {
        list-style: none !important;
    }
    ol {
        list-style: none !important;
    }
}
