// DO NOT USE THESE VARIABLES DIRECTLY. FOR OVERRIDE IN CUSTOM THEME ONLY.
//
// Use approriate less or css variables instead:
//  @base__background or ~"rgba(var(--base-bg), 1)"

@rgb-gray-50:  red(@gray-50),  green(@gray-50),  blue(@gray-50);
@rgb-gray-100: red(@gray-100), green(@gray-100), blue(@gray-100);
@rgb-gray-200: red(@gray-200), green(@gray-200), blue(@gray-200);
@rgb-gray-300: red(@gray-300), green(@gray-300), blue(@gray-300);
@rgb-gray-400: red(@gray-400), green(@gray-400), blue(@gray-400);
@rgb-gray-500: red(@gray-500), green(@gray-500), blue(@gray-500);
@rgb-gray-600: red(@gray-600), green(@gray-600), blue(@gray-600);
@rgb-gray-700: red(@gray-700), green(@gray-700), blue(@gray-700);
@rgb-gray-800: red(@gray-800), green(@gray-800), blue(@gray-800);
@rgb-gray-850: red(@gray-850), green(@gray-850), blue(@gray-850);
@rgb-gray-900: red(@gray-900), green(@gray-900), blue(@gray-900);

@rgb-blue:   red(@blue-600),   green(@blue-600),   blue(@blue-600);
@rgb-green:  red(@green-600),  green(@green-600),  blue(@green-600);
@rgb-red:    red(@red-600),    green(@red-600),    blue(@red-600);
@rgb-yellow: red(@yellow-400), green(@yellow-400), blue(@yellow-400);

@rgb-brand:   var(--blue);
@rgb-danger:  var(--red);
@rgb-success: var(--green);
@rgb-info:    var(--blue);

@rgb-ring: var(--brand-color);
@rgb-link: var(--blue);
@rgb-headings: var(--gray-900);
@rgb-block-title: var(--gray-900);
