@color__brand: @blue-600;
@color__brand-secondary: false;
@color__brand-tertiary: false;
@color__brand-quaternary: false;
@color__brand-quinary: false;

@color__inverted__brand: false;
@color__inverted__brand-secondary: false;
@color__inverted__brand-tertiary: false;
@color__inverted__brand-quaternary: false;
@color__inverted__brand-quinary: false;

@color__white: @white;
@color__black: @black;
@color__neutral-50: @gray-50;
@color__neutral-100: @gray-100;
@color__neutral-200: @gray-200;
@color__neutral-300: @gray-300;
@color__neutral-400: @gray-400;
@color__neutral-500: @gray-500;
@color__neutral-600: @gray-600;
@color__neutral-700: @gray-700;
@color__neutral-800: @gray-800;
@color__neutral-900: @gray-900;
@color__neutral-950: @gray-950;

@color__blue: #3160e2;
@color__green: @green-700;
@color__red: @red-700;
@color__yellow: @yellow-400;
@color__inverted__blue: @blue-300;
@color__inverted__green: @green-400;
@color__inverted__red: @red-500;
@color__inverted__yellow: @color__yellow;

.breeze-tokens() {
    .lib-css(--color-brand, @color__brand);
    .lib-css(--color-brand-secondary, @color__brand-secondary);
    .lib-css(--color-brand-tertiary, @color__brand-tertiary);
    .lib-css(--color-brand-quaternary, @color__brand-quaternary);
    .lib-css(--color-brand-quinary, @color__brand-quinary);
    .lib-css(--color-white, @color__white);
    .lib-css(--color-black, @color__black);
    .lib-css(--color-neutral-50, @color__neutral-50);
    .lib-css(--color-neutral-100, @color__neutral-100);
    .lib-css(--color-neutral-200, @color__neutral-200);
    .lib-css(--color-neutral-300, @color__neutral-300);
    .lib-css(--color-neutral-400, @color__neutral-400);
    .lib-css(--color-neutral-500, @color__neutral-500);
    .lib-css(--color-neutral-600, @color__neutral-600);
    .lib-css(--color-neutral-700, @color__neutral-700);
    .lib-css(--color-neutral-800, @color__neutral-800);
    .lib-css(--color-neutral-900, @color__neutral-900);
    .lib-css(--color-neutral-950, @color__neutral-950);
    .lib-css(--color-blue, @color__blue);
    .lib-css(--color-green, @color__green);
    .lib-css(--color-red, @color__red);
    .lib-css(--color-yellow, @color__yellow);

    .lib-css(--color-inverted-brand, @color__inverted__brand);
    .lib-css(--color-inverted-brand-secondary, @color__inverted__brand-secondary);
    .lib-css(--color-inverted-brand-tertiary, @color__inverted__brand-tertiary);
    .lib-css(--color-inverted-brand-quaternary, @color__inverted__brand-quaternary);
    .lib-css(--color-inverted-brand-quinary, @color__inverted__brand-quinary);
    .lib-css(--color-inverted-blue, @color__inverted__blue);
    .lib-css(--color-inverted-green, @color__inverted__green);
    .lib-css(--color-inverted-red, @color__inverted__red);
    .lib-css(--color-inverted-yellow, @color__inverted__yellow);
}

.breeze-tokens-inverted() {
    .lib-css-if(@color__inverted__brand, --color-brand, ~"var(--color-inverted-brand)");
    .lib-css-if(@color__inverted__brand-secondary, --color-brand-secondary, ~"var(--color-inverted-brand-secondary)");
    .lib-css-if(@color__inverted__brand-tertiary, --color-brand-tertiary, ~"var(--color-inverted-brand-tertiary)");
    .lib-css-if(@color__inverted__brand-quaternary, --color-brand-quaternary, ~"var(--color-inverted-brand-quaternary)");
    .lib-css-if(@color__inverted__brand-quinary, --color-brand-quinary, ~"var(--color-inverted-brand-quinary)");
    .lib-css-if(@color__inverted__blue, --color-blue, ~"var(--color-inverted-blue)");
    .lib-css-if(@color__inverted__green, --color-green, ~"var(--color-inverted-green)");
    .lib-css-if(@color__inverted__red, --color-red, ~"var(--color-inverted-red)");
    .lib-css-if(@color__inverted__yellow, --color-yellow, ~"var(--color-inverted-yellow)");
}
.breeze-tokens-inverted-reset() {
    .lib-css-if(@color__inverted__brand, --color-brand, @color__brand);
    .lib-css-if(@color__inverted__brand-secondary, --color-brand-secondary, @color__brand-secondary);
    .lib-css-if(@color__inverted__brand-tertiary, --color-brand-tertiary, @color__brand-tertiary);
    .lib-css-if(@color__inverted__brand-quaternary, --color-brand-quaternary, @color__brand-quaternary);
    .lib-css-if(@color__inverted__brand-quinary, --color-brand-quinary, @color__brand-quinary);
    .lib-css-if(@color__inverted__blue, --color-blue, @color__blue);
    .lib-css-if(@color__inverted__green, --color-green, @color__green);
    .lib-css-if(@color__inverted__red, --color-red, @color__red);
    .lib-css-if(@color__inverted__yellow, --color-yellow, @color__yellow);
}
