@container__margin: 0 auto;
@container__padding: @1-5 @2;

// Boxed layout
// @container__max-width: none;
// @container__media-sm__max-width: @sm;
// @container__media-md__max-width: @md;
// @container__media-lg__max-width: @lg;
// @container__media-xl__max-width: @xl;
// @container__media-xxl__max-width: @xxl;

// Simple layout
@container__max-width: 1260px;
@container__media-sm__max-width: false;
@container__media-md__max-width: false;
@container__media-lg__max-width: false;
@container__media-xl__max-width: false;
@container__media-xxl__max-width: false;
