@login-container-block__padding: 0;
@login-container-block__background: false;
@login-container-title__font-size: @content-block-title__font-size;
@login-container-title__font-weight: @content-block-title__font-weight;
@login-container-title__line-height: @content-block-title__line-height;
@login-container-title__text-transform: @content-block-title__text-transform;
@login-container__flex-direction: row;
@login-container-actions__margin: @5 0;
