// @theme__brand-color:         // replace with: ~"var(--color-brand)";
// @theme__brand-hover-color    // removed
// @brand__color                // removed;
// @brand__hover__color         // removed;
// @muted__color                // replace with: ~"var(--muted-color)";
@divider__color: ~"var(--subtle-color)";
@z-layer__background: ~"var(--surface-bg)";
@z-layer__color: ~"var(--surface-color)";
