@dropdown-item__border-radius: @dropdown__border-radius;
@dropdown-item__padding: @1 @2;
@dropdown-item__hover__color: false;
@dropdown-item__hover__background: ~"color-mix(in srgb, var(--popover-bg) 95%, currentColor)";

.breeze-tokens() {
    .lib-css(--dropdown-item-hover-bg, @dropdown-item__hover__background);
    .lib-css(--dropdown-item-hover-color, @dropdown-item__hover__color);
}
