@dropdown-item__padding: @1 @2;
@dropdown-item__hover__color: false;
@dropdown-item__hover__background: ~"color-mix(in oklch, var(--popover-bg) 95%, currentColor)";
@dropdown-item__border-radius: ~"clamp(min(4px, var(--popover-border-radius, 0px)), calc(var(--popover-border-radius, 0px) - var(--popover-padding, 0px) / 1.5), 30px)";
@dropdown-item__inverted__hover__color: @dropdown-item__hover__color;
@dropdown-item__inverted__hover__background: @dropdown-item__hover__background;

.breeze-tokens() {
    .lib-css(--dropdown-item-hover-bg, @dropdown-item__hover__background);
    .lib-css(--dropdown-item-hover-color, @dropdown-item__hover__color);
    .lib-css(--dropdown-item-border-radius, @dropdown-item__border-radius);
}

.breeze-tokens-inverted() {
    .lib-css(--dropdown-item-hover-bg, @dropdown-item__inverted__hover__background);
    .lib-css(--dropdown-item-hover-color, @dropdown-item__inverted__hover__color);
}

.breeze-tokens-inverted-reset() {
    .lib-css(--dropdown-item-hover-bg, @dropdown-item__hover__background);
    .lib-css(--dropdown-item-hover-color, @dropdown-item__hover__color);
}
