@footer__dark: false; // false|true|deep
@footer__background: false;
@footer__at-bottom: false;

@footer-top__dark: false; // false|true
@footer-top__padding: false;
@footer-top__margin: false;
@footer-top__background: false;

@footer-middle__dark: false; // false|true
@footer-middle__padding: false;
@footer-middle__margin: false;
@footer-middle__background: false;

@footer-bottom__dark: false; // false|true
@footer-bottom__padding: false;
@footer-bottom__margin: false;
@footer-bottom__background: false;

@footer-newsletter__background: false;
@footer-newsletter__margin: 0 0 @4;
@footer-newsletter__padding: false;
@footer-newsletter-title__mode: hidden; // hidden|hero|false
@footer-newsletter-form__max-width: 420px;
@footer-newsletter-form__margin: 0 auto;
@footer-newsletter-form__display: flex;
@footer-newsletter-form__flex-wrap: wrap;
@footer-newsletter-form__flex-direction: false;
@footer-newsletter-form__justify-content: center;
@footer-newsletter-form__gap: @2;
@footer-newsletter-input-icon: false;
@footer-newsletter-input-icon__width: @6;
@footer-newsletter-input-icon__height: @6;
@footer-newsletter-input-icon__left: @2;
@footer-newsletter-input-icon__top: @2-5;
@footer-newsletter-input-icon__visual-width: @footer-newsletter-input-icon__left * 1.3 + @footer-newsletter-input-icon__width;
@footer-newsletter-input__border-color: false;
@footer-newsletter-input__background: @deprecated__footer-newsletter-input__background-color;

@footer-content__text-align: center;
@footer-content__padding-top: @8;
@footer-content__padding-bottom: false;
@footer-content__background: false;

@footer-links__gap: @2;
@footer-links__margin: false;

@footer-cms-row__indent: @10;

.breeze-tokens() {
    .lib-css(--footer-bg, @footer__background);
    & when not (@footer__dark = false) and (@footer__background = false) {
        --footer-bg: var(--dark-bg);
    }

    .lib-css(--footer-top-bg, @footer-top__background);
    & when (@footer-top__dark) and (@footer-top__background = false) {
        --footer-top-bg: var(--dark-bg);
    }

    .lib-css(--footer-middle-bg, @footer-middle__background);
    & when (@footer-middle__dark) and (@footer-middle__background = false) {
        --footer-middle-bg: var(--dark-bg);
    }

    .lib-css(--footer-bottom-bg, @footer-bottom__background);
    & when (@footer-bottom__dark) and (@footer-bottom__background = false) {
        --footer-bottom-bg: var(--dark-bg);
    }
}
