@input__font-weight: false;
@input__font-family: false;
@input__font-size: false;
@input__color: false;
@input__bg: false;
@input__padding: @2 @3;
@input__border-width: false;
@input__border-radius: false;
@input__border-color: false;
@input__outline-color: false;
@input__outline-width: false;
@input__outline-offset: false;
@input__focus__bg: false;
@input__focus__color: false;
@input__focus__border-color: false;

@input__lg__font-weight: false;
@input__lg__padding: false;
@input__xl__font-weight: false;
@input__xl__padding: @3 @3;

@select__padding-right: @10;

@checkbox__size: @4;
@checkbox__color: false;
@checkbox__border-radius: false;

@button__font-weight: false;
@button__font-family: false;
@button__font-size: @input__font-size;
@button__color: false;
@button__bg: false;
@button__border-width: false;
@button__border-radius: false;
@button__border-color: false;
@button__padding: @2 @5;
@button__shadow: false;
@button__text-decoration: none;
@button__text-transform: false;
@button__text-shadow: false;
@button__hover__color: false;
@button__hover__bg: false;
@button__hover__border-color: false;
@button__hover__text-decoration: none;

// @button__outline__focus: 2px solid @ring__color;
// @button__outline-offset__focus: 2px;
// @button__color__selected: @button__color;
// @button__bg__selected: @button__bg;
// @button__border-color__selected: @button__border-color;
// @button__bg__selected__hover: @button__bg__hover;

// @button-primary__hover__text-color: false;
// @button-primary__hover__background-color: false;
// @button-primary__hover__border-color: @button-primary__hover__background-color;

@button__secondary__color: false;
@button__secondary__bg: false;
@button__secondary__border-color: false;
@button__secondary__hover__color: false;
@button__secondary__hover__bg: false;
@button__secondary__hover__border-color: false;

@button__xs__font-size: @font-size__xs;
@button__xs__line-height: @line-height__xs;
@button__xs__font-weight: false;
@button__xs__padding: @1 @2;

@button__sm__font-size: @font-size__sm;
@button__sm__line-height: @line-height__sm;
@button__sm__font-weight: false;
@button__sm__padding: @2 @4;

@button__lg__font-size: @font-size__lg;
@button__lg__line-height: @line-height__lg;
@button__lg__font-weight: 500;
@button__lg__padding: false;

@button__xl__font-size: @font-size__xl;
@button__xl__line-height: @line-height__xl;
@button__xl__font-weight: 500;
@button__xl__padding: @3 @10;
