@listing-grid__gap: @4;
@listing-grid__columns: 2;
@listing-grid__media-sm__columns: 3;
@listing-grid__media-xl__columns: 4;
@listing-grid__media-lg-1column__columns: false;
@listing-grid__media-xl-1column__columns: 5;

@listing-grid-item__max-width: 400px;
@listing-grid-item__padding: 0;
