@global-message__background: ~"var(--color-yellow)";
@global-message__color: false;

@global-cookie-message__position: fixed;
@global-cookie-message__z-index: 40;
@global-cookie-message__top: false;
@global-cookie-message__bottom: 0;
@global-cookie-message__left: 0;
@global-cookie-message__right: 0;
@global-cookie-message__border-radius: false;
@global-cookie-message__box-shadow: false;

@message__font-family: false;
@message__font-size: false;
@message__font-weight: false;
@message__text-transform: false;
@message__text-align: false;
@message__border-width: false;
@message__border-radius: ~"min(@{6-5}, var(--base-border-radius))";
@message__gap: @1;
@message__padding: @3 @4;
@message__margin-bottom: @3;
@message__box-shadow: false;

@message__position: static; // static|fixed
@message__fixed__container: true;
@message__fixed__z-index: 810;
@message__fixed__top: @4;
@message__fixed__bottom: false;
@message__fixed__left: 0;
@message__fixed__right: 0;
@message__fixed__hidden__transform: ~"translateY(-50px)";
@message__fixed__visible__transform: ~"translateY(0)";
@message__fixed__hide-delay: 5s; // 5s|100s|false
@message__fixed__hide-progress__delay: 1.5s;
@message__fixed__hide-progress__border-radius: false;

@message-icon-container__width: @6;
@message-icon-container__height: @6;
@message-icon-container__margin: 0;
@message-icon-container__align-self: false;
@message-icon-container__border-radius: false;
@message-icon-container__background: false;

@message-icon__size: @5;
@message-close-icon__mask-size: @4 @4;
@message-link__color: false;

@message-success__icon: @icon-s-check;
@message-success__icon-background: false;
@message-success__color: ~"var(--color-success)";
@message-success__background: false;
@message-success__border-color: false;

@message-info__icon: @icon-s-information-circle;
@message-info__icon-background: false;
@message-info__color: ~"var(--color-info)";
@message-info__background: false;
@message-info__border-color: false;

@message-error__icon: @icon-s-exclamation-circle;
@message-error__icon-background: false;
@message-error__color: ~"var(--color-danger)";
@message-error__background: false;
@message-error__border-color: false;

.breeze-tokens() {
    .lib-css(--global-message-bg, @global-message__background);
    .lib-css(--global-message-color, @global-message__color);

    .lib-css(--message-border-radius, @message__border-radius);
    .lib-css(--message-link-color, @message-link__color);

    .lib-css(--message-success-color, @message-success__color);
    .lib-css(--message-success-bg, @message-success__background);
    .lib-css(--message-success-border-color, @message-success__border-color);
    .lib-css(--message-success-icon-bg, @message-success__icon-background);

    .lib-css(--message-info-color, @message-info__color);
    .lib-css(--message-info-bg, @message-info__background);
    .lib-css(--message-info-border-color, @message-info__border-color);
    .lib-css(--message-info-icon-bg, @message-info__icon-background);

    .lib-css(--message-error-color, @message-error__color);
    .lib-css(--message-error-bg, @message-error__background);
    .lib-css(--message-error-border-color, @message-error__border-color);
    .lib-css(--message-error-icon-bg, @message-error__icon-background);
}
