@rgb-navigation: @rgb-base;
@navigation__media-desktop: @media-sm;
@navigation__media-mobile: @media-sm-down;
@navigation__media-wrap: ~"(min-width: @{sm}) and (max-width: @{md-max})";

@navigation-top-level__font-weight: false;
@navigation-top-level__font-weight: false;
@navigation-top-level__font-size: false;
@navigation-top-level__letter-spacing: false;
@navigation-top-level__text-shadow: false;
@navigation-top-level__padding: false;
@navigation-top-level-caret__padding: false;
@navigation-caret__opacity: false;
