@navigation__color: @navigation__text-color;
@navigation__inverted__color: @navigation__color;
@navigation__media-desktop: @media-sm;
@navigation__media-mobile: @media-sm-down;
@navigation__media-wrap: ~"@{navigation__media-desktop} and (max-width: @{md-max})";

@navigation-toggle__margin: 0 -@2 0 0;
@navigation-toggle__width: @12;
@navigation-toggle__height: @12;

@navigation-item-level0__color: false;
@navigation-item-level0__font-family: false;
@navigation-item-level0__font-weight: false;
@navigation-item-level0__font-size: false;
@navigation-item-level0__letter-spacing: false;
@navigation-item-level0__text-transform: false;
@navigation-item-level0__text-shadow: false;
@navigation-item-level0__padding: false;
@navigation-item-level0__border-radius: @navigation-dropdown__border-radius;
@navigation-item-level0__opened__color: @navigation-item-level0__color;
@navigation-item-level0__opened__background: @dropdown-item__hover__background;
@navigation-item-level0__active__color: @navigation-item-level0__opened__color;
@navigation-item-level0__active__background: @navigation-item-level0__opened__background;
@navigation-item-level0__inverted__color: @navigation-item-level0__color;
@navigation-item-level0__inverted__opened__color: @navigation-item-level0__inverted__color;
@navigation-item-level0__inverted__active__color: @navigation-item-level0__inverted__opened__color;

@navigation-item__opened__background: @dropdown-item__hover__background;

@navigation-caret__right: @0-5;
@navigation-caret__opacity: false;
@navigation-caret-level0__padding: false;
@navigation-caret-level0__right: false;

@navigation-dropdown__border: false;
@navigation-dropdown__border-color: ~"var(--popover-border-color)";
@navigation-dropdown__border-radius: ~"var(--popover-border-radius)";
@navigation-dropdown__shadow: ~"var(--popover-box-shadow)";

@navigation-dropdown__inverted__border-color: ~"var(--popover-border-color)";

.breeze-tokens() {
    // this prop is used by menu.js component
    --navigation-media-mobile: @navigation__media-mobile;

    .lib-css(--navigation-color, @navigation__color);
    .lib-css(--navigation-item-level0-color, @navigation-item-level0__color);
    .lib-css(--navigation-item-level0-opened-color, @navigation-item-level0__opened__color);
    .lib-css(--navigation-item-level0-active-color, @navigation-item-level0__active__color);
    .lib-css(--navigation-item-level0-border-radius, @navigation-item-level0__border-radius);
    .lib-css(--navigation-dropdown-border-color, @navigation-dropdown__border-color);
    .lib-css(--navigation-dropdown-border-radius, @navigation-dropdown__border-radius);
    .lib-css(--navigation-dropdown-shadow, @navigation-dropdown__shadow);
}

.breeze-tokens-inverted() {
    .lib-css(--navigation-color, @navigation__inverted__color);
    .lib-css(--navigation-item-level0-color, @navigation-item-level0__inverted__color);
    .lib-css(--navigation-item-level0-opened-color, @navigation-item-level0__inverted__opened__color);
    .lib-css(--navigation-item-level0-active-color, @navigation-item-level0__inverted__active__color);
    .lib-css(--navigation-dropdown-border-color, @navigation-dropdown__inverted__border-color);
}

.breeze-tokens-inverted-reset() {
    .lib-css-if(@navigation__inverted__color, --navigation-color, @navigation__color);
    .lib-css-if(@navigation-item-level0__inverted__color, --navigation-item-level0-color, @navigation-item-level0__color);
    .lib-css-if(@navigation-item-level0__inverted__opened__color, --navigation-item-level0-opened-color, @navigation-item-level0__opened__color);
    .lib-css-if(@navigation-item-level0__inverted__active__color, --navigation-item-level0-active-color, @navigation-item-level0__active__color);
    .lib-css-if(@navigation-dropdown__inverted__border-color, --navigation-dropdown-border-color, @navigation-dropdown__border-color);
}
