@slider-arrow-icon__mask: @icon-chevron;
@slider-arrow-icon__width: @6;
@slider-arrow-icon__height: @6;

@slider-arrow__width: 35px;
@slider-arrow__height: 60px;
@slider-arrow__background: false;
@slider-arrow__color: false;
@slider-arrow__top: 50%;
@slider-arrow__transform: ~"translateY(-50%)";
@slider-arrow__border-width: false;
@slider-arrow__border-radius: false;
@slider-arrow__border-color: false;
@slider-arrow__hover__background: false;
@slider-arrow__hover__color: false;
@slider-arrow__hover__border-color: false;
@slider-arrow__disabled__filter: ~"grayscale(100%)";
@slider-arrow__disabled__opacity: .1;

@slider-arrow-prev__left: 0;
@slider-arrow-prev__right: false;
@slider-arrow-prev__border-width: false;

@slider-arrow-next__right: 0;
@slider-arrow-next__left: false;
@slider-arrow-next__border-width: false;

@slider-dots__padding: @2-5 0;
@slider-dots__gap: 0;
@slider-dots__justify-content: center;
@slider-dot-area__padding: @1;
@slider-dot__width: @4;
@slider-dot__height: @slider-dot__width;
@slider-dot__border: 1px solid var(--subtle-color);
@slider-dot__border-radius: 50%;
@slider-dot__background: @black;
@slider-dot__color: @white;
@slider-dot__box-shadow: 0 0 0 1px @white;
@slider-dot__active__background: @white;
@slider-dot__active__color: @black;

.breeze-tokens() {
    .lib-css(--slider-arrow-bg, @slider-arrow__background);
    .lib-css(--slider-arrow-color, @slider-arrow__color);
    .lib-css(--slider-arrow-border-width, @slider-arrow__border-width);
    .lib-css(--slider-arrow-border-color, @slider-arrow__border-color);
    .lib-css(--slider-arrow-border-radius, @slider-arrow__border-radius);
    .lib-css(--slider-arrow-hover-bg, @slider-arrow__hover__background);
    .lib-css(--slider-arrow-hover-color, @slider-arrow__hover__color);
    .lib-css(--slider-arrow-hover-border-color, @slider-arrow__hover__border-color);
}
