@popover__width: @44;
@popover__padding: @2;
@popover__background: ~"var(--surface-bg)";
@popover__color: ~"var(--surface-color)";
@popover__border-width: 1px;
@popover__border-color: ~"var(--subtle-color)";
@popover__border-radius: ~"var(--base-border-radius)";
@popover__shadow: ~"var(--shadow-lg)";
@popover__filter: false;

@popover__inverted__background: ~"var(--surface-bg)";
@popover__inverted__color: ~"var(--surface-color)";
@popover__inverted__border-color: ~"var(--subtle-color)";

.breeze-tokens() {
    --popover-width: @popover__width;
    --popover-padding: @popover__padding;
    .lib-css(--popover-bg, @popover__background);
    .lib-css(--popover-color, @popover__color);
    .lib-css(--popover-border-width, @popover__border-width);
    .lib-css(--popover-border-color, @popover__border-color);
    .lib-css(--popover-border-radius, @popover__border-radius);
    .lib-css(--popover-box-shadow, @popover__shadow);
}

.breeze-tokens-inverted() {
    .lib-css(--popover-bg, @popover__inverted__background);
    .lib-css(--popover-color, @popover__inverted__color);
    .lib-css(--popover-border-color, @popover__inverted__border-color);
}

.breeze-tokens-inverted-reset() {
    .lib-css(--popover-bg, @popover__background);
    .lib-css(--popover-color, @popover__color);
    .lib-css(--popover-border-color, @popover__border-color);
}
