@scrollbar__width: @1-5;
@scrollbar__border-radius: @96;
@scrollbar-track__background: transparent;
@scrollbar-thumb__background: ~"var(--muted-color)";
@scrollbar-thumb__hover__background: ~"color-mix(in oklch, var(--scrollbar-color) 80%, var(--color-black))";
@scrollbar-track__inverted__background: false;
@scrollbar-thumb__inverted__background: ~"var(--muted-inverted-color)";
@scrollbar-thumb__inverted__hover__background: ~"color-mix(in oklch, var(--scrollbar-inverted-color) 80%, var(--color-white))";

.breeze-tokens() {
    .lib-css(--scrollbar-bg, @scrollbar-track__background);
    .lib-css(--scrollbar-color, @scrollbar-thumb__background);
    .lib-css(--scrollbar-hover-color, @scrollbar-thumb__hover__background);

    .lib-css(--scrollbar-inverted-bg, @scrollbar-track__inverted__background);
    .lib-css(--scrollbar-inverted-color, @scrollbar-thumb__inverted__background);
    .lib-css(--scrollbar-inverted-hover-color, @scrollbar-thumb__inverted__hover__background);
}

.breeze-tokens-inverted() {
    .lib-css-if(@scrollbar-track__inverted__background, --scrollbar-bg, ~"var(--scrollbar-inverted-bg)");
    .lib-css-if(@scrollbar-thumb__inverted__background, --scrollbar-color, ~"var(--scrollbar-inverted-color)");
    .lib-css-if(@scrollbar-thumb__inverted__hover__background, --scrollbar-hover-color, ~"var(--scrollbar-inverted-hover-color)");
}

.breeze-tokens-inverted-reset() {
    .lib-css-if(@scrollbar-track__inverted__background, --scrollbar-bg, @scrollbar-track__background);
    .lib-css-if(@scrollbar-thumb__inverted__background, --scrollbar-color, @scrollbar-thumb__background);
    .lib-css-if(@scrollbar-thumb__inverted__hover__background, --scrollbar-hover-color, @scrollbar-thumb__hover__background);
}
