@swatch-wrapper__listing__margin: 0 0 @0-5;

@swatch-options__margin-top: @1;
@swatch-options__margin-bottom: @1-5;
@swatch-options__listing__margin-bottom: false;
@swatch-options__listing__justify-content: false;

@swatch__size: @8;
@swatch__gap: @1-5;
@swatch__border-radius: false;
@swatch__border-offset: 0;

@swatch__listing__font-size: false;
@swatch__listing__size: false;
@swatch__listing__border-offset: false;
