@tab-horizontal__media: @media-md;
@tab-accordion__media: @media-md-down;

@tab__background: false;

@tab-toggler__color: ~"var(--muted-color)";
@tab-toggler__background: transparent;
@tab-toggler__font-family: false;
@tab-toggler__font-size: false;
@tab-toggler__font-weight: false;
@tab-toggler__text-transform: false;
@tab-toggler__padding: @2-5 @4;
@tab-toggler__border-radius: ~"var(--base-border-radius)";
@tab-toggler__hover__color: ~"color-mix(in oklch, var(--tab-toggler-color) 80%, currentColor)";
@tab-toggler__hover__background: ~"color-mix(in oklch, var(--tab-toggler-bg) 95%, currentColor)";
@tab-toggler__active__color: ~"color-mix(in oklch, var(--tab-toggler-hover-color) 80%, currentColor)";
@tab-toggler__active__background: ~"color-mix(in oklch, var(--tab-toggler-hover-bg) 95%, currentColor)";

@tab-counter__opacity: false;
@tab-counter__margin-x: @0-5 0;
@tab-counter__padding: @0-5 @2;
@tab-counter__background: ~"color-mix(in oklch, var(--tab-toggler-bg) 95%, currentColor)";
@tab-counter__hover__background: ~"color-mix(in oklch, var(--tab-toggler-hover-bg) 95%, currentColor)";
@tab-counter__active__background: ~"color-mix(in oklch, var(--tab-toggler-active-bg) 95%, currentColor)";
@tab-counter__display: false;
@tab-counter__border-radius: ~"calc(var(--tab-toggler-border-radius, 0px) / 1.5)";

@tab-content__scroll-margin: @16 0 0;
@tab-content__padding: @3 @4;
@tab-content__border: false;
@tab-content__border-width: false;
@tab-content__background: ~"var(--base-bg)";

@tab__horizontal__justify-content: false;
@tab__horizontal__margin: false;
@tab__horizontal__padding: false;
@tab-toggler__horizontal__position: false;
@tab-toggler__horizontal__z-index: false;
@tab-toggler__horizontal__padding: false;
@tab-toggler__horizontal__margin: 0 @3 0 0;
@tab-toggler__horizontal__border: false;
@tab-toggler__horizontal__border-width: false;
@tab-toggler__horizontal__border-radius: false;
@tab-toggler__horizontal__active__border-color: false;

@tab-toggler-inner__horizontal__padding: false;
@tab-toggler-inner__horizontal__border-radius: false;
@tab-toggler-inner__horizontal__background: false;
@tab-toggler-inner__horizontal__active__background: false;

@tab-content__horizontal__scroll-margin: false;
@tab-content__horizontal__position: false;
@tab-content__horizontal__z-index: false;
@tab-content__horizontal__margin: false;
@tab-content__horizontal__padding: false;
@tab-content__horizontal__border: false;
@tab-content__horizontal__border-width: false;

@tab-toggler__accordion__margin: false;
@tab-toggler__accordion__border: 1px solid var(--subtle-color);
@tab-toggler__accordion__border-width: 0 0 1px;
@tab-toggler__accordion__border-radius: false;
@tab-toggler__accordion__background: false;
@tab-toggler__accordion__active__color: false;
@tab-toggler__accordion__active__background: false;

.breeze-tokens() {
    .lib-css(--tab-bg, @tab__background);

    .lib-css(--tab-toggler-bg, @tab-toggler__background);
    .lib-css(--tab-toggler-border-radius, @tab-toggler__border-radius);
    .lib-css(--tab-toggler-hover-bg, @tab-toggler__hover__background);
    .lib-css(--tab-toggler-active-bg, @tab-toggler__active__background);

    .lib-css(--tab-toggler-color, @tab-toggler__color);
    .lib-css(--tab-toggler-hover-color, @tab-toggler__hover__color);
    .lib-css(--tab-toggler-active-color, @tab-toggler__active__color);

    .lib-css(--tab-counter-bg, @tab-counter__background);
    .lib-css(--tab-counter-hover-bg, @tab-counter__hover__background);
    .lib-css(--tab-counter-active-bg, @tab-counter__active__background);

    .lib-css(--tab-content-bg, @tab-content__background);
}
