@toolbar__color: false;
@toolbar-modes__border: 1px solid @divider__color;
@toolbar-modes__border-radius: false;

@toolbar-pages-item__padding: @1 @2;
@toolbar-pages-item__width: false;
@toolbar-pages-item__height: false;
@toolbar-pages-item__font-weight: false;
