@toolbar__color: false;
@toolbar-modes__border: 1px solid var(--subtle-color);
@toolbar-modes__border-radius: ~"var(--base-border-radius)";

@toolbar-mode__padding: @2;

@toolbar-pages-item__padding: @1 @2;
@toolbar-pages-item__width: false; // @deprecated. It cause issues with bigger strings
@toolbar-pages-item__min-width: @toolbar-pages-item__width;
@toolbar-pages-item__height: false;
@toolbar-pages-item__font-weight: false;
@toolbar-pages-item__color: false;
@toolbar-pages-item__border-radius: ~"var(--base-border-radius)";

@toolbar-pages-item__hover__color: false;
@toolbar-pages-item__hover__background: ~"var(--muted-bg)";

@toolbar-pages-item__active__color: false;
@toolbar-pages-item__active__background: ~"var(--muted-bg)";

@toolbar-pages-arrow__color: ~"var(--muted-color)";

.breeze-tokens() {
    .lib-css(--toolbar-modes-border-radius, @toolbar-modes__border-radius);
    .lib-css(--toolbar-page-border-radius, @toolbar-pages-item__border-radius);
}
