@font-size__xs: @3;
@font-size__sm: @3-5;
@font-size__base: @4;
@font-size__lg: @4-5;
@font-size__xl: @5;
@font-size__2xl: @6;
@font-size__3xl: @7-5;
@font-size__4xl: @9;
@font-size__5xl: @12;

@line-height__xs: @4;
@line-height__sm: @5;
@line-height__base: @6;
@line-height__lg: @7;
@line-height__xl: @7;
@line-height__2xl: @8;
@line-height__3xl: @9;
@line-height__4xl: @10;
@line-height__5xl: 1;

@font-sans:  ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
@font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
@font-mono:  ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

@base__font-family: @font-sans;
@base__font-size: @font-size__base;
@base__line-height: @line-height__base;
@base__color: false;
@base__bg: false;
@base__border-radius: 0;

@muted__color: false;
@muted__bg: false;

@subtle__color: false;
@subtle__bg: false;

@focus-ring__width: false;
@focus-ring__offset: false;
@focus-ring__color: false;

@selection__color: false;
@selection__background: false;

@headings__font-family: false;
@headings__text-transform: false;
@headings__color: false;

@h1__font-size: @font-size__4xl;
@h1__font-weight: bold;
@h1__line-height: @line-height__4xl;
@h1__text-transform: false;
@h1__letter-spacing: false;
@h1__margin-top: @8;
@h1__margin-bottom: @4;

@h2__font-size: @font-size__3xl;
@h2__font-weight: 600;
@h2__line-height: @line-height__3xl;
@h2__text-transform: false;
@h2__letter-spacing: false;
@h2__margin-top: @8;
@h2__margin-bottom: @4;

@h3__font-size: @font-size__2xl;
@h3__font-weight: 600;
@h3__line-height: @line-height__2xl;
@h3__text-transform: false;
@h3__letter-spacing: false;
@h3__margin-top: @4;
@h3__margin-bottom: @2;

@h4__font-size: @font-size__xl;
@h4__font-weight: 600;
@h4__line-height: @line-height__xl;
@h4__text-transform: false;
@h4__letter-spacing: false;
@h4__margin-top: false;
@h4__margin-bottom: @1;

@h5__font-size: false;
@h5__font-weight: false;
@h5__line-height: false;
@h5__text-transform: false;
@h5__letter-spacing: false;
@h5__margin-top: false;
@h5__margin-bottom: @1;

@h6__font-size: false;
@h6__font-weight: false;
@h6__line-height: false;
@h6__text-transform: false;
@h6__letter-spacing: false;
@h6__margin-top: false;
@h6__margin-bottom: @1;

@prose__font-size: @font-size__lg;
@prose__line-height: @line-height__lg;

@link__text-decoration: none;
@link__hover__text-decoration: underline;
@link__color: false;

@base__inverted__text-color: @white;
@base__inverted__text-alpha: .85;
@headings__inverted__text-color: @base__inverted__text-color;
@headings__inverted__text-alpha: .9;
@link__inverted__text-color: @blue-300;
@link__inverted__text-alpha: .9;
@ring__inverted__text-color: @base__inverted__text-color;
@ring__inverted__text-alpha: .7;
@muted__inverted__background-color: @gray-800;
@muted__inverted__background-alpha: 1;
@button__inverted__background-color: false;
@button__inverted__hover__background-color: @button__inverted__background-color;
@button__inverted__border-color: @button__inverted__background-color;
@button__inverted__text-color: false;
@button-secondary__inverted__background-color: false;
@button-secondary__inverted__border-color: @button-secondary__inverted__background-color;
@button-secondary__inverted__text-color: false;
@button-secondary__inverted__hover__background-color: @button-secondary__inverted__background-color;
@input__inverted__background-color: false;
@input__inverted__background-alpha: 0;
@input__inverted__border-color: false;
@input__inverted__border-alpha: .5;

.breeze-tokens() {
    .lib-css(--base-font-family, @base__font-family);
    .lib-css(--base-font-size, @base__font-size);
    .lib-css(--base-line-height, @base__line-height);
    .lib-css(--base-color, @base__color, var(--color-neutral-800));
    .lib-css(--base-bg, @base__bg, var(--color-white));
    .lib-css(--base-border-radius, @base__border-radius);

    .lib-css(--muted-color, @muted__color, var(--color-neutral-500));
    .lib-css(--muted-bg, @muted__bg, var(--color-neutral-100));

    .lib-css(--subtle-color, @subtle__color, var(--color-neutral-200));
    .lib-css(--subtle-bg, @subtle__bg, var(--color-neutral-50));

    .lib-css(--surface-bg, @surface__bg, var(--base-bg));
    .lib-css(--surface-color, @surface__color, var(--base-color));
    .lib-css(--overlay-bg, @overlay__bg);

    .lib-css(--focus-ring-width, @focus-ring__width, 2px);
    .lib-css(--focus-ring-color, @focus-ring__color, var(--color-brand));
    .lib-css(--focus-ring-offset, @focus-ring__offset, 2px);

    .lib-css(--link-color, @link__color, var(--color-blue));

    .lib-css(--headings-color, @headings__color, var(--surface-color));
    .lib-css(--headings-font-family, @headings__font-family);
    .lib-css(--headings-text-transform, @headings__text-transform);
}
