@z-layer__text-color: var(--base-color);
@z-layer__color: ~"rgba(var(--z-layer-color), var(--z-layer-color-alpha, 1))";
@z-layer__background-color: var(--base-bg);
@z-layer__background: ~"rgba(var(--z-layer-bg), var(--z-layer-bg-alpha, 1))";

@z-overlay__background-color: @black;
@z-overlay__background: ~"rgba(var(--z-overlay-bg), var(--z-overlay-bg-alpha, .8))";
